$unit: 'px'
.section
  +w($desktop#{$unit})
.logo
  margin-right: 30px
.slogan
  font-size: 18px
.cart
  &-log
    +wh(22px)
.phone
  &-mail
    font-size: 18px
  &-button
    margin-right: 8px
    padding: 5px 0 0 18px
  &-call
    font-size: 18px
.request
  &-button
    width: 200px
    margin-top: 14px
    span
      font-family: $f_reg
      width: 131px
.head
  &-container
    padding: 25px 15px 13px
  &-contacts
    flex: 0 0 625px
    padding-right: 0
    justify-content: flex-start
    .phone
      margin-right: 30px
    .request
      margin-right: 70px
  &-nav
    &-list
      width: 95%
      margin: auto
      &>li:nth-child(5),&>li:nth-child(4)
        flex: 0 0 200px
      a,div
        font-size: 18px
  &-request
    &-links
      padding-right: 0
      justify-content: space-around
  &-must-know,&-about-company
    top: 59px
.main
  &-slider
    margin-top: 15px
  &-slide
    +wh(1000px,500px)
    &-text
      text-align: left
      span
        font-size: 36px
        line-height: 1.2em
    &-button
      margin: 35px 0 70px
  &-form
    padding: 21px 48px
    input
      width: 360px
    button
      width: 260px

.foot
  &-slogan
    font-size: 18px