$unit : 'px'
.section
  +w($mobile#{$unit})
  margin: 0 auto
body
  background: linear-gradient(to right, $light-pink, #fff 5%, #fff 95%, $light-pink)

.news,.bread-crumps,.youtube01,.del-form,.deliv
  display: none
.head
  &-container
    width: 320px
    margin: auto
  &-contacts
    +w(320px)
    margin: auto
    display: flex
    justify-content: space-between
  &-nav
    display: none
  &-logo
    display: flex
    align-items: center
    padding: 11px 0 15px 13px
  &-scroll
    .head-logo
      display: none
    position: fixed
    background-color: #fff
    z-index: 100
    margin: auto
    top: 0
    left: 0
    right: 0
.logo
  margin-right: 8px
  img
    width: 145px
.slogan
  +font(13px,$f_reg)
  background: linear-gradient(180deg, #718edd, #48c3eb)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
.mob
  &-menu
    display: none
  &-must-know,&-about-company
    display: none
  &-nav
    &-list
      position: absolute
      z-index: 100
      width: 100%
      div
        background: linear-gradient(to top, $light-pink 60%, #fdf9f5)
        a
          padding: 16px 14px
          display: block
        a, label
          width: 100%
          text-align: left
          font-size: 18px
    &-button
      +wh(57px,44px)
      padding: 7px 14px
      display: block
      background: linear-gradient(to top, $light-pink 60%, #fdf9f5)
      &-close
        display: none
    &-close
      padding: 14px
      display: flex
      justify-content: flex-end
      img
        +wh(21px)
  &-hidden
    &-button
      padding: 14px
      display: flex
      justify-content: space-between
      align-items: center
      span
        +wh(12px)
        display: block
        border-right: 1px solid #6e6964
        border-top: 1px solid #6e6964
        transform: rotate(45deg)
    &-close
      justify-content: space-between
      align-items: center
      &>span
        display: flex
        align-items: center
        &>span
          color: #4ac0ea
          margin-left: 7px
.phone
  &-button
    +wh(44px)
    padding: 7px
    display: block
  &-numbers
    display: none
.request
  &-links
    display: none
  &-button
    span
      width: 70px
.cart
  background: linear-gradient(to top, $light-pink 60%, #fdf9f5)
  position: relative
  &-button
    +wh(57px,44px)
    padding: 7px 14px
    display: block
  &-log
    +wh(19px)
    +dfc
    position: absolute
    bottom: 3px
    right: 6px
    z-index: 10
    border-radius: 50%
    background-color: #5fa5e3
    span
      font-size: 12px
      color: #fff
.button
  +wh(145px,44px)
  +dfc
  padding: 6px 0
  background: linear-gradient(180deg, #718edd, #48c3eb)
  img
    +wh(21px)
    margin-right: 15px
    &:nth-child(2)
      display: none
  span
    +font(12px,$f_bold,#fff)
    letter-spacing: 1px
    text-transform: uppercase
.main
  &-slider
    background-image: url(../img/main.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    &-cont
      background-color: rgba(0,0,0,0.5)
  &-slide
    +wh(300px,480px)
    margin: auto
    display: flex
    flex-direction: column
    justify-content: flex-end
    &-text
      span
        +font(18px,$f_bold,#fff)
        display: block
        line-height: 1.2em
        text-shadow: 2px 2px 5px rgba(0,0,0,0.5)
    &-button
      width: 300px
      padding: 0
      margin-top: 25px
      margin-bottom: 70px
      border: 1px solid #b1e2f8
  &-form
    padding: 15px
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
    background: linear-gradient(to top, #aee1f9, #f6f0ea)
    &-input
      +wh(290px,44px)
      font-size: 12px
      padding-left: 15px
      margin: 0 auto 15px
      display: block
    &-button
      width: 290px
      margin: auto
.news
  &-cont
    padding: 0 10px
  &-block
    margin: 0 auto 20px
    position: relative
    padding: 20px 10px
    border: 1px solid #dadada
    &>div
      margin-bottom: 20px
      &>span
        font-size: 12px
        display: block
        margin-bottom: 30px
    a
      position: relative
      z-index: 50
  &-text
    font-size: 12px
    line-height: 1.5em
  &-page
    display: block
  &-gradient
    +wh(100%,100px)
    background: linear-gradient(to top, #fff 50%, transparent)
    position: absolute
    bottom: 0
    left: 0
    z-index: 0
.popular
  .block-title
    justify-content: space-between
    h3
      margin-right: 0
  &-label
    +font(8px,$f_bold)
    padding: 11px 8px
    background: linear-gradient(to bottom, #fdefe1, #fdf9f5)
  &-label-sell
    margin-right: 9px
    margin-left: 29px
  &-input-sell:checked~.block-title .popular-label-sell,&-input-rent:checked~.block-title .popular-label-rent
    background: linear-gradient(180deg, #718edd, #48c3eb)
    color: #fff
  &-rent
    &-list
      +w(150px)
      border-top: 2px solid #dadada
      border-right: 1px solid #dadada
      border-left: 1px solid #dadada
      margin: 5px 0 10px
      position: relative
      label
        +wh(100%,33px)
        +dfs
        display: none
        padding-left: 10px
        background-color: $light-pink
      .select-activ
        display: flex
  &-rent-cont,&-sell-cont
    display: none
    flex-direction: column
  &-input-sell:checked~.popular-sell-cont,&-input-rent:checked~.popular-rent-cont
    display: flex
  &-cont
    width: 300px
    margin: 0 auto 10px
    border: 1px solid #dfdad5
    display: flex
    align-items: center
  &-photo
    +wh(127px,137px)
    +dfc
    flex: 0 0 127px
    overflow: hidden
  &-desc
    +font(14px,$f_bold)
    text-transform: uppercase
    padding-top: 16px
  &-name
    letter-spacing: 1px
  &-price
    font-family: $f_reg
    margin-top: 30px
    button
      +wh(170px,40px)
      +dfc
      margin-top: 10px
      background-color: #f6f0ea
      img
        +wh(30px)
  &-sort
    display: none
    width: 300px
    margin: auto
    &-select
      position: relative
      &-checkbox
        font-size: 12px
        +w(180px)
        background-color: $light-pink
        text-transform: uppercase
        position: absolute
        z-index: 30
        right: 0
        top: -5px
        border-top: 2px solid #dadada
        border-right: 1px solid #dadada
        border-left: 1px solid #dadada
        label
          display: none
          padding: 10px
        .select-activ
          display: block
    &-pagination
      +w(300px)
      margin: 20px auto
      display: flex
      align-items: center
      justify-content: space-between
      li
        a
          font-size: 12px
          +wh(30px)
          +dfc
          background-color: $light-pink
      .pag-activ
        background-color: inherit
  &-prod
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    justify-content: space-between
    position: relative
    li
      display: flex
      flex-direction: column
      width: 300px
      margin: 0 auto 20px
      border: 1px solid #dfdad5
      position: relative
      .popular-cont
        border: none
        margin: 0 0 2px 0
    .popular-price
      img:last-child
        display: none
  &-haract
    background-color: $light-pink
    padding: 10px 20px
    &-select
      top: 0
      right: 0
      background-color: #fff
      label
        letter-spacing: 1px
    &-color
      position: relative
      padding: 10px 0
    &-desc
      p
        margin-top: 11px
        span
          font-size: 12px
          display: inline-block
          &:first-child
            width: 55%
  &-best
    +wh(20px)
    +dfc
    position: absolute
    top: 0
    right: 0
    padding: 4px
    span
      +font(14px,$f_reg,#fff)
    span:first-child
      display: none
    &-new
      background: linear-gradient(180deg, #718edd, #48c3eb)
    &-akcii
      background-color: #ea9cb6
.block
  &-image
    display: flex
    width: 200px
    img
      width: 50%
  &-title
    display: flex
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap
    padding: 20px 10px
    margin: auto
    overflow: hidden
    h3
      font-size: 18px
      margin-right: 10px
    &-none
      .block-image
        display: none
      justify-content: space-between
.block-title-a,.news-link
  +font(12px,$f_reg,$light-blue)
  letter-spacing: 1px
  text-transform: uppercase
  img
    +wh(12px,10px)
    transform: rotate(180deg)
    margin-left: 5px
.stocks
  &-cont
  &-block
    +wh(300px,200px)
    margin: 0 auto 10px
    overflow: hidden
    position: relative
  &-pink
    &-bgc
      +wh(400px,200px)
      background-color: rgba(243,178,200,0.95)
      transform: rotate(-4.6deg)
      position: absolute
      top: 115px
      left: -50px
      z-index: 10
  &-text
    +font(15px,$f_bold,#fff)
    line-height: 0.8em
    width: 290px
    position: absolute
    z-index: 20
    display: flex
    justify-content: space-between
    align-items: center
    left: 20px
    bottom: -5px
    &-right
      font-size: 80px
.questions
  h3
    +font(18px,$f_reg,#fff)
    width: 200px
    margin: auto
    text-align: center
  &-form
    &-cont
      background: linear-gradient(180deg, #718edd, #48c3eb)
      padding-top: 10px
      form
        padding: 10px 0 20px
        background: none
        button
          border: 1px solid #718edd
.photo
  &-slider
    +wh(300px,230px)
    display: flex
    align-items: center
    justify-content: space-between
    overflow: hidden
    margin: 10px auto 0
    position: relative
  &-slide
    flex: 0 0 300px
    img
      width: 100%
      height: 230px
  &-div
    +wh(30px,230px)
    position: absolute
    z-index: 100
    height: 230px
  &-div-left
    background: linear-gradient(to right, #fff 50%, transparent)
    left: 0
  &-div-right
    background: linear-gradient(to left, #fff 50%, transparent)
    right: 0
.deliv
  &-cont
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    &:last-child
      margin-bottom: 15px
  &-img
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    background-color: $light-pink
  &-block
    h6
      font-family: $f_bold
      letter-spacing: 1px
      margin-bottom: 5px
    div
      +wh(95px)
      margin: 0 auto 10px
      img
        +wh(48px)
  &-last
    display: flex
    align-items: flex-start
    justify-content: space-around
    flex-direction: column
    &>div
      display: flex
      align-items: center
      justify-content: flex-start
      margin-right: 10px
      margin-top: 10px
    span
      font-family: $f_bold
  &-img
    +wh(35px)
    padding: 5px
    margin-right: 10px
.reviews
  &-cont
    +wh(300px,400px)
    margin: auto
    overflow: hidden
    position: relative
  &-name
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 10px
    &-left
      span
        +font(12px,$f_bold)
        letter-spacing: 1px
        display: block
      span:first-child
        text-transform: uppercase
      span:last-child
        font-family: $f_reg
        font-size: 10px
    &-right
      display: flex
      align-items: center
      justify-content: space-between
      width: 120px
      img
        +wh(20px)
  &-block
    padding: 10px 20px
    background-color: $light-pink
    min-height: 400px
  &-photo
    div
      margin-top: 10px
  &-gradient
    +wh(100%,100px)
    background: linear-gradient(to top, #fff, transparent)
    position: absolute
    bottom: 0
    left: 0
  &-page
    .reviews-cont
      height: inherit
    .reviews-block
      margin-bottom: 20px
      min-height: 0
  &-form
    +w(300px)
    background-color: #ededed
    padding: 20px 10px
    margin: auto
    textarea
      height: 150px
    &-input
      +w(100%)
      +font(12px,$f_reg,$pink-gray)
      padding: 15px 10px
      display: block
      margin: auto
      font-size: 12px
      border: none
      border-top: 2px solid #dadada
      border-left: 2px solid #dadada
      letter-spacing: 1px
    div:nth-child(4)
      margin-top: 30px
    &-button
      width: 100%
      margin-top: 10px
  &-mark
    display: flex
    align-items: center
    margin: 25px 0
    span
      font-size: 12px
      text-transform: uppercase
      margin-right: 20px
    label
      img
        +wh(30px,28px)
      img:last-child
        display: none
  &-button
    display: block
    padding: 12px 0
    border: 1px solid $light-blue
    color: $light-blue
    text-transform: uppercase
.display-flex
  display: flex
.filter
  &-title
    &-button
      +dfc
      +font(10px,$f_bold,#fff)
      text-transform: uppercase
      background: linear-gradient(180deg, #718edd, #48c3eb)
      padding: 5px 20px
    &-filter
      margin-left: auto
      &>div
        display: flex
        margin-right: 10px
        &>div
          display: flex
          flex-direction: column
          align-items: center
          &>div
            background-color: #fff
      &>div>div>div:first-child
        +wh(2px)
      &>div>div>div:nth-child(2)
        +wh(4px,5px)
        border-radius: 50%
        margin: 1px 0
      &>div>div>div:last-child
        +wh(2px,7px)
      &>div>div:nth-child(2)
        transform: rotate(180deg)
        margin: 0 1px
    &-sort
      margin-left: 10px
      &>div
        display: flex
        align-items: flex-end
        &>div
          background-color: #fff
        &>div:first-child
          +wh(4px,6px)
        &>div:nth-child(2)
          +wh(4px,11px)
          margin: 0 2px
        &>div:last-child
          +wh(4px,16px)
  &-h5
    font-size: 18px
  &-name
    display: flex
    justify-content: flex-start
    align-items: center
    button
      margin-left: 45px
  &-price-slider
      margin-top: 10px
      &>div
        display: flex
        align-items: center
        &>div
          +wh(6px,1px)
          background-color: #000
          margin: 0 5px
      &-range
        +wh(100px,30px)
        font-size: 12px
        padding: 0 10px
  &-h6
    +font(12px,$f_bold)
    text-transform: uppercase
  &-label
    position: relative
    label
      display: flex
      align-items: center
      margin-top: 10px
      span
        font-size: 13px
      span:first-child
        +wh(25px)
        display: block
        padding: 3px
        border-radius: 4px
        background-color: #fff
        margin-right: 10px
        border-top: 2px solid #dadada
        border-right: 1px solid #dadada
        border-left: 1px solid #dadada
        img
          display: none
    &>div:last-child
      position: absolute
      right: 28px
      top: -10px
      display: none
      span
        color: #fff
        letter-spacing: 1px
      span:last-child
        display: none
      &>div
        +wh(20px)
        display: table
        content: ''
        transform: rotate(45deg)
        background: linear-gradient(135deg, #718edd, #48c3eb)
        position: absolute
        left: -10px
        top: 13px
      &>button
        +wh(45px)
        +dfc
        background: linear-gradient(180deg, #718edd, #48c3eb)
        position: absolute
        top: 0
    input
      display: none
      &:checked~.fl001 img,&:checked~.fl002 img,&:checked~.fl003 img,&:checked~.fl004 img,&:checked~.fl005 img,&:checked~.fl006 img,&:checked~.fl007 img,&:checked~.fl008 img,&:checked~.fl009 img,&:checked~.fl010 img,&:checked~.fl011 img,&:checked~.fl012 img
        display: block
    &-cont
      margin-top: 30px
    &:hover>div:last-child
      display: block
  &-button
    width: 100%
.clear-button
  +dfc
  img
    +wh(21px)
    margin-right: 10px
  span
    +font(18px,$f_reg,$light-blue)
    text-transform: uppercase
.select
  &-activ
    display: block
  &-arrow:after
    +wh(10px)
    display: table
    content: ''
    border-right: 1px solid $pink-gray
    border-top: 1px solid $pink-gray
    transform: rotate(135deg)
    position: absolute
    right: 15px
    top: 7px
.product
  padding: 0 10px
  &-bread-crumps
    a
      display: flex
      align-items: center
      padding: 0 10px
      margin-top: 20px
      font-size: 12px
      span
        &:first-child
          +wh(7px)
          display: block
          border-right: 1px solid $pink-gray
          border-top: 1px solid $pink-gray
          transform: rotate(-135deg)
          margin: 0 13px 0 10px
  &-title
    +w(130px)
    margin-top: 30px
    margin-left: 30px
    h1
      font-family: $f_bold
      text-transform: uppercase
  &-youtube
    +wh(70px,50px)
    position: absolute
    top: 0
    right: 0
    img:last-child
      display: none
  &-slider
    position: relative
    &-main
      +wh(250px)
      margin: 15px auto
      &-slide
        &-out
          display: none
          &.act
            display: block
    &-slave
      display: none
  &-both
    margin-bottom: 15px
  &-color
    span
      font-size: 12px
      &:last-child
        text-transform: uppercase
        font-family: $f_bold
        margin-left: 10px
    &-slider
      +w(220px)
      margin: 15px auto
      display: flex
      overflow: hidden
    &-slide
      +wh(100px)
      flex: 0 0 100px
      margin: 0 5px
      border: 1px solid #dadada
      &-act
        border: 3px solid #dadada
    &-line
      +wh(300px,1px)
      margin: 0 auto 15px
      background-color: #dadada
  &-delievery
    &>div
      display: flex
      align-items: center
      margin-bottom: 15px
      div
        +font(12px,$f_bold)
        +w(120px)
        +dfc
        flex: 0 0 120px
        padding: 10px 0
        border: 1px solid #dadada
        img
          +wh(30px)
      &:last-child div
        padding: 7px 0
      p
        font-size: 12px
        margin-left: 5px
        strong,a
          font-family: $f_bold
        span
          display: block
        a
          color: $light-blue
  &-request
    &-price
      text-align: center
      margin-bottom: 20px
      span
        font-size: 22px
        letter-spacing: 2px
        strong
          font-family: $f_bold
    &-number
      +w(100%)
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      div
        position: relative
        input
          +wh(100px,50px)
          +font(15px,$f_bold)
          text-align: right
          padding-right: 35px
          flex: 0 0 100px
          color: $pink-gray
          background-color: $light-pink
          border-top: 2px solid #dadada
          border-left: 2px solid #dadada
        button
          +wh(25px)
          +dfc
          position: absolute
          top: 0
          right: 0
          span
            +wh(10px)
            display: block
            border-top: 1px solid $pink-gray
            border-right: 1px solid $pink-gray
            transform: rotate(-45deg)
            margin-top: 5px
          &:last-child
            top: 25px
            span
              transform: rotate(135deg)
              margin-top: 0
              margin-bottom: 5px
      &>div,&>button
        margin: 0 0 15px 0
    &-button
      +wh(180px,50px)
      &:last-child
        +w(100%)
        flex: 0 0 100%
        background: inherit
        border: 1px solid $light-blue
        span
          color: $light-blue
  &-rent
    text-align: center
    background-color: $light-pink
    padding: 20px 0
    &>span
      font-family: $f_bold
      +w(230px)
      margin: 0 auto 10px
      display: block
  &-description
    &-div
      +w(300px)
      margin: 2px auto
      background-color: #fbefe4
      position: relative
      &>div
        margin-top: 20px
        padding: 0 20px
        display: none
        &>div,p
          margin-top: 10px
          font-size: 12px
          strong
            font-family: $f_bold
        & .product-color-line
          +wh(260px,1px)
      &:last-child
        div
          margin-top: 0
        &>div
         padding: 0 10px
    h6
      font-family: $f_bold
    a
      display: block
      color: $light-blue
    &-label
      display: none
      &-mob
        +w(100%)
        font-family: $f_semi
        display: block
        padding: 10px 20px
        &:after
          +wh(10px)
          display: table
          content: ''
          border-top: 1px solid $pink-gray
          border-right: 1px solid $pink-gray
          transform: rotate(135deg)
          position: absolute
          right: 15px
          top: 9px
        &-close
          +wh(100%,40px)
          position: absolute
          top: 0
          z-index: 100
          display: none
    &-acses
      &-container
          display: flex
          flex-wrap: wrap
          justify-content: space-between
      &-unit
        width: 138px
        display: flex
        flex-direction: column
        align-items: flex-start
        border: 1px solid #dadada
        background-color: #fff
        margin-bottom: 4px
      &-photo
        width: 128px
        margin: auto
        position: relative
        img:first-child
          +wh(40px,15px)
          position: absolute
          bottom: 0
          right: 0
      &-name
        padding: 10px
        span
          font-family: $f_bold
          text-transform: uppercase
          letter-spacing: 1px
      &-price
        +w(100%)
        padding-left: 10px
        display: flex
        align-items: center
        justify-content: space-between
        span
          font-size: 12px
          letter-spacing: 1px
        button
          +wh(44px,40px)
          +dfc
          background-color: $light-pink
          img
            +wh(16px)
            &:last-child
              display: none
    &-harac
      span
        display: block
  &-rent-block
    div
      display: flex
      align-items: flex-start
      justify-content: flex-start
      p
        font-size: 12px
        +w(50px)
        &:first-child
          +w(145px)
      &:first-child,&:nth-child(6)
        p
          font-family: $f_bold
      &:first-child
        margin-bottom: 10px
    button
      +w(100%)
      margin-top: 20px
      margin-bottom: 15px
.rent-select
  position: relative
  padding: 10px 0
  margin-top: 10px
  &>span
    font-family: $f_bold
    font-size: 12px
  .popular-rent-list
    position: absolute
    right: 0
    top: 0
    margin: 0
    label
      background-color: #fff
.about-desc
    padding: 0 20px
    p
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
      strong
        font-family: $f_bold
.article
  padding: 20px 10px
  h1
    font-size: 18px
  span
    font-size: 12px
    display: block
    margin: 20px 10px
  &-desc
    padding: 0 10px
    margin-bottom: 50px
    p
      margin-bottom: 20px
    img
      display: block
      margin-bottom: 10px
      &:last-child
        margin-bottom: 20px
.ask
  h5
    font-family: $f_bold
    margin-bottom: 15px
  p
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0
  &-cont
    padding: 0 10px
  &-block
    border: 1px solid $light-pink
    padding: 18px 13px
    margin-bottom: 12px
    &:last-child
      margin-bottom: 20px
.cart
  &-container
    padding: 20px 5px
  &-delete-button
    +wh(25px)
  &-cont
    display: flex
    align-items: flex-start
    justify-content: space-between
    border: 1px solid #dadada
    padding: 10px
    margin-bottom: 15px
    &:nth-child(2)
      margin-bottom: 0
  &-photo
    +w(140px)
  &-block
    flex: 0 0 37%
  &-name
    h4
      font-family: $f_bold
      letter-spacing: 1px
  &-color
    button
      font-family: $f_bold
      font-size: 11px
      text-transform: uppercase
  &-result
    font-family: $f_bold
  &-name,&-color,&-price,&-page .product-request-number,&-result
    margin-top: 10px
  &-page
    .product-request-number>div
      margin: 0
  &-form
    background-color: $light-pink
    input,textarea
      +font(12px,$f_reg,$pink-gray)
      width: 100%
      padding: 13px
      margin-top: 25px
      text-transform: uppercase
      border: none
      border-top: 2px solid #dadada
      border-left: 2px solid #dadada
    textarea
      height: 150px
  &-form
    padding: 30px 10px
    h6
      font-size: 18px
  &-delpay
    padding: 20px 10px 10px
    h6
      font-size: 18px
      margin-bottom: 30px
    &-button
      +wh(120px,52px)
      flex: 0 0 120px
      +dfc
      background: linear-gradient(180deg, #718edd, #48c3eb)
      margin-right: 10px
      img
        +wh(40px)
        &:nth-child(2)
          display: none
      &-cont
        display: flex
        align-items: center
        margin-bottom: 20px
        span
          font-family: $f_bold
          text-transform: uppercase
    p
      display: flex
      align-items: center
      span:first-child
        flex: 0 0 130px
      &:last-child
        margin-bottom: 20px
  &-strong
     font-family: $f_bold
     span:last-child
       font-size: 18px
  &-agree
    label
      display: flex
      align-items: center
      margin-bottom: 20px
      span,a
        font-size: 12px
        a
          color: $light-blue
    &-checked
      +wh(28px)
      display: block
      flex: 0 0 28px
      border-radius: 5px
      border-top: 3px solid #dadada
      border-left: 3px solid #dadada
      border-right: 1px solid #dadada
      border-bottom: 1px solid #dadada
      padding: 2px
      margin-right: 10px
      img
        display: none
    &-button
      +wh(100%,60px)
      img
        +wh(25px)
.youtube01
  +dfc
  padding: 40px 0 20px
  iframe
    +wh(280px,200px)
    margin: auto
.del-form
  padding: 50px 30px 20px
  width: 320px
  margin: auto
  p
    font-size: 12px
    line-height: 1.2em
  .product-color-line
    +w(100%)
  &-title
    font-family: $f_bold
  .row
    margin-bottom: 15px
    p:first-child
      width: 100px
      flex: 0 0 100px
    p:nth-child(2)
      +w(84px)
      flex: 0 0 84px
  .row,&-label
    display: flex
    align-items: flex-start
    justify-content: flex-start
  &-label
    padding: 10px
    background-color: $light-pink
    img
      +wh(44px)
      margin-right: 10px
aside
  background-color: $light-pink
  position: absolute
  z-index: 100
  width: 300px
  margin: auto
  right: 0
  left: 0
  top: 170px
  padding: 15px 7px
  display: none
  &>button
    text-align: center
    margin: 10px auto 0
    letter-spacing: 1px
.delievery
  display: block
  .product-color-line
    margin-top: 15px
footer
  background-color: #fdefe1
  .section
    padding-top: 12px
    padding-bottom: 29px
.foot
  &-slogan
    display: none
  &-request
    &-links
      display: none
    &-button
      display: none
  &-copy
    span, a
      font-size: 12px
      color: $pink-gray
      display: block
      text-align: center
      margin-top: 23px
    a
      text-decoration: underline
  &-cont
    .phone,.request
      display: none
  &-mob-cont
    display: flex
    justify-content: space-around
    align-items: center
    a
      +wh(44px)
      padding: 7px
      display: block
#mob-nav-menu,#mob-nav-must,#mob-nav-about
  &:checked~.mob-nav-button
    display: none
  &:checked~.mob-nav-button-close
    display: block
#mob-nav-menu
  &:checked~.mob-menu
    display: block
#mob-nav-must
  &:checked~.mob-must-know
    display: block
#mob-nav-about
  &:checked~.mob-about-company
    display: block
#aside-checkbox
  &:checked~aside
    display: block
  &:checked~main .block-title .filter-title-filter
    background: $light-pink
    color: $pink-gray
    div div div
      background-color: $pink-gray
#pag-checkbox
  &:checked~main .popular-sort
    display: block
  &:checked~main .block-title .filter-title-sort
    background: $light-pink
    color: $light-pink
    div div
      background-color: $pink-gray
#sort-checkbox
  &:checked~.popular-sort-select-checkbox
    label
      display: block
    &:after
      transform: rotate(-45deg)
      top: 13px
#pop-color01,#pop-color02,#pop-color03,#pop-color04,#pop-color05,#pop-color06
  &:checked~.popular-sort-select-checkbox
    label
      display: block
    &:after
      transform: rotate(-45deg)
      top: 13px
#pop-rent01,#pop-rent02,#pop-rent03,#pop-rent04,#pop-rent05,#pop-rent06
  &:checked~.popular-rent-list
    label
      display: flex
    &:after
      transform: rotate(-45deg)
      top: 13px
#product-description-comp:checked~.product-description-comp,
#product-description-harac:checked~.product-description-harac,
#product-description-desc:checked~.product-description-desc,
#product-description-acses:checked~.product-description-acses
  background-color: #f9f4ef
  &>div
    display: block
    padding-bottom: 10px
  .product-description-acses-container
    display: flex
  .product-description-label-mob-close
    display: block
  .product-description-label-mob:after
    transform: rotate(-45deg)
    top: 17px
#reviews-mark-4:checked~.reviews-mark-5,
#reviews-mark-3:checked~.reviews-mark-4,#reviews-mark-3:checked~.reviews-mark-5,
#reviews-mark-2:checked~.reviews-mark-3,#reviews-mark-2:checked~.reviews-mark-4,#reviews-mark-2:checked~.reviews-mark-5,
#reviews-mark-1:checked~.reviews-mark-2,#reviews-mark-1:checked~.reviews-mark-3,#reviews-mark-1:checked~.reviews-mark-4,#reviews-mark-1:checked~.reviews-mark-5
  img
    &:first-child
      display: block
    &:last-child
      display: none
#reviews-mark-1:checked~.reviews-mark-1,
#reviews-mark-2:checked~.reviews-mark-1,#reviews-mark-2:checked~.reviews-mark-2,
#reviews-mark-3:checked~.reviews-mark-1,#reviews-mark-3:checked~.reviews-mark-2,#reviews-mark-3:checked~.reviews-mark-3,
#reviews-mark-4:checked~.reviews-mark-1,#reviews-mark-4:checked~.reviews-mark-2,#reviews-mark-4:checked~.reviews-mark-3,#reviews-mark-4:checked~.reviews-mark-4,
#reviews-mark-5:checked~.reviews-mark-1,#reviews-mark-5:checked~.reviews-mark-2,#reviews-mark-5:checked~.reviews-mark-3,#reviews-mark-5:checked~.reviews-mark-4,#reviews-mark-5:checked~.reviews-mark-5
  img
    &:first-child
      display: none
    &:last-child
      display: block
#delcur:checked~.cart-delpay-button-cont .cart-delpay-delcur,
#deltr:checked~.cart-delpay-button-cont .cart-delpay-deltr,
#paycard:checked~.cart-delpay-button-cont .cart-delpay-paycard,
#paycur:checked~.cart-delpay-button-cont .cart-delpay-paycur,
#paynal:checked~.cart-delpay-button-cont .cart-delpay-paynal
  background: $light-pink
  img
    &:first-child
      display: none
    &:nth-child(2)
      display: block

#cart-agree:checked~label .cart-agree-checked img
  display: block