$unit : 'px'
.section
  +w($mobile#{$unit})
  margin: 0 auto
body
  font-family: $f_reg
  background: linear-gradient(to right, $light-pink, #fff 5%, #fff 95%, $light-pink)

.head
  &-contacts
    display: flex
    justify-content: space-between
  &-nav
    display: none
  &-logo
    display: flex
    align-items: flex-end
    padding: 11px 0 15px 13px
.logo
  margin-right: 8px
  img
    width: 145px
.slogan
  +font(13px, $f_reg)
  background: linear-gradient(180deg, #718edd, #48c3eb)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
.mob
  &-must-know
    display: none
  &-about-company
    display: none
  &-menu
    display: none
  &-nav
    &-list
      position: absolute
      width: 100%
      li
        background: linear-gradient(to top, $light-pink 60%, #fdf9f5)
        a
          padding: 16px 14px
          display: block
        a, button
          width: 100%
          text-align: left
          font-size: 18px
          color: #6e6964
    &-button
      +wh(57px,44px)
      padding: 7px 14px
      display: block
      background: linear-gradient(to top, $light-pink 60%, #fdf9f5)
    &-close
      padding: 14px
      display: flex
      justify-content: flex-end
      img
        +wh(21px)
  &-hidden
    &-button
      padding: 14px
      display: flex
      justify-content: space-between
      align-items: center
      span
        +wh(12px)
        display: block
        border-right: 1px solid #6e6964
        border-top: 1px solid #6e6964
        transform: rotate(45deg)
    &-close
      justify-content: space-between
      align-items: center
      &>span
        display: flex
        align-items: center
        &>span
          color: #4ac0ea
          margin-left: 7px
.phone
  &-button
    +wh(44px)
    padding: 7px
    display: block
  &-numbers
    display: none
.request
  &-links
    display: none
  &-button
    span
      width: 70px
.cart
  background: linear-gradient(to top, $light-pink 60%, #fdf9f5)
  position: relative
  &-button
    +wh(57px,44px)
    padding: 7px 14px
    display: block
  &-log
    +wh(19px)
    position: absolute
    bottom: 3px
    right: 6px
    z-index: 10
    border-radius: 50%
    background-color: #5fa5e3
    display: flex
    align-items: center
    justify-content: center
    span
      font-size: 12px
      color: #fff

.button
  +wh(145px,44px)
  padding: 6px 0
  display: flex
  align-items: center
  justify-content: center
  background: linear-gradient(180deg, #718edd, #48c3eb)
  img
    +wh(21px)
    margin-right: 15px
  span
    +font(12px,$f_bold,#fff)
    letter-spacing: 1px
    text-transform: uppercase
.main
  &-slider
    background-image: url(../img/main.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    &-cont
      background-color: rgba(0,0,0,0.5)
  &-slide
    +wh(300px,480px)
    margin: auto
    display: flex
    flex-direction: column
    justify-content: flex-end
    &-text
      span
        +font(18px,$f_bold,#fff)
        display: block
        line-height: 1.2em
        text-shadow: 2px 2px 5px rgba(0,0,0,0.5)
    &-button
      width: 300px
      padding: 0
      margin-top: 25px
      margin-bottom: 70px
      border: 1px solid #b1e2f8
  &-form
    padding: 15px
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
    background: linear-gradient(to top, #aee1f9, #f6f0ea)
    &-input
      +wh(290px,44px)
      font-size: 12px
      padding-left: 15px
      margin: 0 auto 15px
      display: block
    &-button
      width: 290px
      margin: auto
.popular
  .block-image
    display: none
  .block-title
    justify-content: space-between
    h3
      margin-right: 0
  &-label
    +font(8px,$f_bold,$pink-gray)
    padding: 11px 8px
    background: linear-gradient(to bottom, #fdefe1, #fdf9f5)
  &-label-sell
    margin-right: 9px
    margin-left: 29px
  &-input-sell:checked~.block-title .popular-label-sell,&-input-rent:checked~.block-title .popular-label-rent
    background: linear-gradient(180deg, #718edd, #48c3eb)
    color: #fff
  &-rent-cont,&-sell-cont
    display: none
    flex-direction: column
  &-input-sell:checked~.popular-sell-cont,&-input-rent:checked~.popular-rent-cont
    display: flex
  &-cont
    width: 300px
    margin: 0 auto 10px
    border: 1px solid #dfdad5
    display: flex
  &-photo
    +wh(127px,137px)
    flex: 0 0 127px
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
  &-desc
    +font(14px,$f_bold,$pink-gray)
    text-transform: uppercase
    padding-top: 16px
  &-name
    letter-spacing: 1px
  &-price
    font-family: $f_reg
    margin-top: 30px
    button
      +wh(170px,40px)
      margin-top: 10px
      display: flex
      align-items: center
      justify-content: center
      background-color: #f6f0ea
      img
        +wh(30px)
.block
  &-image
    display: flex
    width: 200px
    img
      width: 50%
  &-title
    display: flex
    align-items: center
    justify-content: flex-start
    flex-wrap: wrap
    padding: 20px 10px
    margin: auto
    overflow: hidden
    h3
      +font(18px,$f_reg,$pink-gray)
      margin-right: 10px
    a
      +font(12px,$f_reg,#4ac0ea)
      letter-spacing: 1px
      img
        +wh(12px,10px)
        transform: rotate(180deg)
        margin-left: 5px

.stocks
  &-cont
  &-block
    +wh(300px,200px)
    margin: 0 auto 10px
    overflow: hidden
    position: relative
  &-pink
    &-bgc
      +wh(400px,200px)
      background-color: rgba(243,178,200,0.95)
      transform: rotate(-4.6deg)
      position: absolute
      top: 115px
      left: -50px
      z-index: 10
  &-text
    +font(15px,$f_bold,#fff)
    line-height: 0.8em
    width: 290px
    position: absolute
    z-index: 20
    display: flex
    justify-content: space-between
    align-items: center
    left: 20px
    bottom: -5px
    &-right
      font-size: 80px
.questions
  h3
    +font(18px,$f_reg,#fff)
    width: 200px
    margin: auto
    text-align: center
  &-form
    &-cont
      background: linear-gradient(180deg, #718edd, #48c3eb)
      padding-top: 10px
      form
        padding: 10px 0 20px
        background: none
        button
          border: 1px solid #718edd
.photo
  &-slider
    +wh(300px,230px)
    display: flex
    align-items: center
    justify-content: space-between
    overflow: hidden
    margin: 10px auto 0
    position: relative
  &-slide
    flex: 0 0 300px
    img
      width: 100%
      height: 230px
  &-div
    +wh(30px,230px)
    position: absolute
    z-index: 100
    height: 230px
  &-div-left
    background: linear-gradient(to right, #fff 50%, transparent)
    left: 0
  &-div-right
    background: linear-gradient(to left, #fff 50%, transparent)
    right: 0
.deliv
  display: none
.reviews
  .block-title
    justify-content: space-between
  &-cont
    +wh(300px,400px)
    margin: auto
    overflow: hidden
    position: relative
  &-name
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 10px
    &-left
      span
        +font(12px,$f_bold,$pink-gray)
        letter-spacing: 1px
        display: block
      span:first-child
        text-transform: uppercase
      span:last-child
        font-family: $f_reg
        font-size: 10px
    &-right
      display: flex
      align-items: center
      justify-content: space-between
      width: 120px
      img
        +wh(20px)
  &-text
    +font(14px,$f_reg,$pink-gray)
  &-block
    padding: 10px 20px
    background-color: $light-pink
    min-height: 400px
  &-photo
    margin-top: 10px
  &-gradient
    +wh(100%,100px)
    background: linear-gradient(to top, #fff, transparent)
    position: absolute
    bottom: 0
    left: 0
.news
  display: none
footer
  background-color: #fdefe1
  .section
    padding-top: 12px
    padding-bottom: 29px
.foot
  &-slogan
    display: none
  &-request
    &-links
      display: none
    &-button
      display: none
  &-copy
    span, a
      font-size: 12px
      color: $pink-gray
      display: block
      text-align: center
      margin-top: 23px
    a
      text-decoration: underline
  &-cont
    .phone,.request
      display: none
  &-mob-cont
    display: flex
    justify-content: space-around
    align-items: center
    a
      +wh(44px)
      padding: 7px
      display: block