$unit : 'px'
.section
  +w($mobile#{$unit})
  margin: 0 auto
body
  font-family: $f_reg

header
  background: linear-gradient(to right, $light-pink, #fff 5%, #fff 95%, $light-pink)
.head
  &-contacts
    display: flex
    justify-content: space-between
  &-nav
    display: none
  &-logo
    display: flex
    align-items: flex-end
    padding: 11px 0 15px 13px
.logo
  margin-right: 8px
  img
    width: 145px
.slogan
  +font(13px, $f_reg)
  background: linear-gradient(180deg, #718edd, #48c3eb)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
.mob
  &-must-know
    display: none
  &-about-company
    display: none
  &-menu
    display: none
  &-nav
    &-list
      position: absolute
      width: 100%
      li
        background: linear-gradient(to top, $light-pink 60%, #fdf9f5)
        a
          padding: 16px 14px
          display: block
        a, button
          width: 100%
          text-align: left
          font-size: 18px
          color: #6e6964
    &-button
      +wh(57px,44px)
      padding: 7px 14px
      display: block
      background: linear-gradient(to top, $light-pink 60%, #fdf9f5)
    &-close
      padding: 14px
      display: flex
      justify-content: flex-end
      img
        +wh(21px)
  &-hidden
    &-button
      padding: 14px
      display: flex
      justify-content: space-between
      align-items: center
      span
        +wh(12px)
        display: block
        border-right: 1px solid #6e6964
        border-top: 1px solid #6e6964
        transform: rotate(45deg)
    &-close
      justify-content: space-between
      align-items: center
      &>span
        display: flex
        align-items: center
        &>span
          color: #4ac0ea
          margin-left: 7px
.phone
  &-button
    +wh(44px)
    padding: 7px
    display: block
  &-numbers
    display: none
.request
  &-links
    display: none
  &-button
    span
      width: 70px
.cart
  background: linear-gradient(to top, $light-pink 60%, #fdf9f5)
  position: relative
  &-button
    +wh(57px,44px)
    padding: 7px 14px
    display: block
  &-log
    +wh(19px)
    position: absolute
    bottom: 3px
    right: 6px
    z-index: 10
    border-radius: 50%
    background-color: #5fa5e3
    display: flex
    align-items: center
    justify-content: center
    span
      font-size: 12px
      color: #fff

.button
  +wh(145px,44px)
  padding: 11px 0
  display: flex
  align-items: center
  justify-content: center
  background: linear-gradient(180deg, #718edd, #48c3eb)
  img
    +wh(21px)
    margin-right: 15px
  span
    +font(12px,$f_bold,#fff)
    letter-spacing: 1px
    text-transform: uppercase
.main
  &-slider
    background-image: url(../img/main.png)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    &-cont
      background-color: rgba(0,0,0,0.5)
  &-slide
    +wh(93.75%,480px)
    margin: auto
    display: flex
    flex-direction: column
    justify-content: flex-end
    &-text
      span
        +font(18px,$f_bold,#fff)
        display: block
        line-height: 1.2em
        text-shadow: 2px 2px 5px rgba(0,0,0,0.5)
    &-button
      width: 300px
      padding: 0
      margin-top: 25px
      margin-bottom: 70px
      border: 1px solid #b1e2f8
  &-form
    padding: 15px
    border-bottom-left-radius: 20px
    border-bottom-right-radius: 20px
    background: linear-gradient(to top, #aee1f9, #f6f0ea)
    input
      +wh(290px,44px)
      font-size: 12px
      padding-left: 15px
      margin: 0 auto 20px
      display: block
    &-button
      width: 290px
      margin: auto





footer
  background-color: #fdefe1
  .section
    padding-top: 12px
    padding-bottom: 29px
.foot
  &-slogan
    display: none
  &-request
    &-links
      display: none
    &-button
      display: none
  &-copy
    span, a
      font-size: 12px
      color: $pink-gray
      display: block
      text-align: center
      margin-top: 23px
    a
      text-decoration: underline
  &-cont
    .phone,.request
      display: none
  &-mob-cont
    display: flex
    justify-content: space-around
    align-items: center
    a
      +wh(44px)
      padding: 7px
      display: block