.section
  +w($mobile-large#{$unit})
.head-logo
  justify-content: space-around
.main-slide
  height: 300px
.popular
  &-label
    margin: 0
.product
  &-youtube
    right: 50px
  &-color
    &-line
      +w(400px)