.section
  +w($tablet#{$unit})
header
  height: 130px
.mob-nav
  display: none
.phone
  display: flex
  &-numbers
    display: block
  &-call,&-mail
    display: block
    margin-bottom: 3px
    color: $pink-gray
  &-mail
    color: $light-blue
    margin-bottom: 0
.head
  &-container
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
  &-contacts
    width: 57%
    flex: 57%
    align-items: center
  &-logo
    align-items: center
  &-must-know,&-about-company
    display: none
  &-nav
    display: block
    background: linear-gradient(to top, #fdefe1, #fdf9f5)
    &-list
      width: 100%
      display: flex
      justify-content: space-around
      align-items: center
      background: linear-gradient(to top, #fdefe1, #fdf9f5)
      &>li
        flex: 0 0 16.66%
        text-align: center
        ul
          text-align: left
      a,div
        +font(14px,$f_reg,$pink-gray)
        display: block
        padding: 20px 0 15px
        width: 100%
        background: linear-gradient(to top, #fdefe1, #fdf9f5)
        &:hover
          background: linear-gradient(to top, $light-pink 60%, #fdf9f5)
      div
        position: relative
  &-scroll
    display: none
  &-scrolled
    position: fixed
    background-color: #fff
    z-index: 99
    margin: auto
    top: 0
    left: 0
    right: 0
  &-hidden-list:hover .head-about-company,&-hidden-ul:hover .head-must-know
    display: block
  &-must-know,&-about-company
    +w(100%)
    position: absolute
    z-index: 100
    top: 54px
    left: 0
    box-shadow: 0 5px 10px rgba(0,0,0,0.3)
  &-must-know a,&-about-company a
    padding-left: 15px
    background: linear-gradient(to top, $light-pink 60%, #fdf9f5)
.request-links
    justify-content: space-between
    width: 100%
    padding-right: 20px
    a
      +wh(30px)
.main
  &-s
    +w(450px)
    .slick-arrow
      bottom: inherit
      top: 50%
  &-slide
    &-text
      text-align: center
      span
        font-size: 24px
        line-height: 1.4em
    &-button
      width: 260px
      margin: 25px auto 70px
  &-form
    display: flex
    justify-content: space-between
    &-input,button
      margin: 0
      width: 200px
    button
      width: 250px
.popular
  &-container
    position: relative
  &-label
    padding: 24px 37px 19px
    font-size: 12px
    letter-spacing: 2px
  &-sell-cont,&-rent-cont
    flex-direction: row
    flex-wrap: wrap
    align-items: center
  &-sort
    margin-bottom: 20px
    padding: 0 10px
    width: 100%
    display: flex
    justify-content: space-between
    &-select
      &-checkbox
        right: -250px
        top: -4px
        letter-spacing: 1px
        width: 230px
    &-pagination
      width: 320px
      margin: 0
    &-end
      width: 320px
      padding: 0
      margin: 0 10px 20px auto
  &-haract
    &-select
      top: 0
      right: 0
      width: 210px
.block
  &-title
    h3
      font-size: 36px
  &-image
    width: 300px
.stocks
  &-cont
    display: flex
    justify-content: space-evenly
  &-block
    margin: 0 0 10px
.questions
  h3
    width: 100%
  &-form
    &-cont
      padding: 10px 20px 0
.photo
  &-slider
    width: 640px
    margin: 20px auto 0
  &-slide
    margin: 0 10px
.deliv
  display: block
  &-cont
    flex-direction: row
    align-items: flex-start
    justify-content: space-around
    flex-wrap: wrap
  &-block
    width: 46%
    flex: 0 0 46%
    h6
      +font(16px,$f_reg)
      margin-bottom: 10px
    span
      font-size: 18px
    div
      +wh(200px)
      margin: 0 auto 10px
      img
        +wh(100px)
  &-last
    flex-direction: row
    align-items: center
    &>div
      margin-top: 30px
    span
      font-size: 16px
  &-img
    +wh(70px)
    padding: 15px
.reviews
  &-cont
    display: flex
    align-items: self-start
    justify-content: space-evenly
    width: 660px
  &-block
    width: 300px
    flex: 0 0 300px
  &-page
    .reviews-cont
      +w(100%)
      display: block
      padding: 0 20px
    .reviews-block
      +w(inherit)
      padding: 30px 25px
    .reviews-photo
      display: flex
      div
        margin-right: 20px
    .popular-sort-end
      margin-right: 20px
  &-form
    +w(100%)
    &-input
      +w(360px)
      margin: 0
    form
      +w(555px)
    textarea
      +w(100%)
    div:nth-child(4)
      display: flex
      margin-bottom: 30px
      .reviews-form-input
        flex: 0 0 360px
        margin-right: 30px
    &-button
      margin: 0
  .button
    +wh(360px,48px)
    margin-right: 0
  &-button span
    font-size: 16px
.news
  display: block
  &-cont
    padding: 0 10px
  &-block
    +w(748px)
    padding: 30px 20px
  &-text
    font-size: 18px
    line-height: 1.15em
  .popular-sort-end
    margin-right: 20px
.bread-crumps
  padding: 0 0 0 15px
.product
  &-bread-crumps
    display: none
  &-title
    +w(100%)
    h1
      font-size: 36px
      text-transform: inherit
  &-slider
    &-main
      +wh(475px,470px)
    &-slave
      +w(450px)
      display: block!important
      margin: auto
      &-slide
        +dfc
        overflow: hidden
        img
          max-width: 124px
          max-height: 109px
      .slick-prev
        left: -25px
      .slick-next
        right: -25px
  &-slider,&-cont
    +w(555px)
    margin: auto
  &-cont
    margin-top: 30px
  &-color
    &-slider
      +w(440px)
      margin: 20px auto
    span:first-child
      font-size: 18px
    &-line
      +w(535px)
      margin: 0 auto 20px
  &-delievery
    &>div
      margin-bottom: 20px
      p, p a
        font-size: 16px
  &-request
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    justify-content: space-between
    &-price
      margin-top: 20px
      margin-bottom: 0
    &-number
      +w(370px)
      div input
        +wh(130px,60px)
      &>button
        +wh(220px,60px)
        margin-bottom: 20px
      div
        button
          height: 30px
          &:last-child
            top: 30px
  &-rent
    &>span
      +w(inherit)
      font-size: 18px
    .block-title-a
      +dfc
      font-size: 16px
      img
        +wh(20px,17px)
  &-description
    &-div
      +w(555px)
      font-size: 18px
      &>div
        p,div,a
          font-size: 16px
        .product-description-acses-name
          font-size: 14px
      &:last-child>div
        padding: 0 25px
    &-label-mob
      font-family: $f_reg
    &-acses
      &-unit
        +w(250px)
      &-photo
        +w(236px)
      &-price
        span
          font-size: 18px
        button
          +wh(60px,52px)
          img
            +wh(30px)
.product-rent-block
  div
    p
      +w(15%)
      font-size: 14px
      &:first-child
        +w(55%)
  button
    +w(213px)
    margin: 20px auto 15px
.article
  h1
    font-size: 36px
  p
    font-size: 18px
  &-img
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap
    img
      +w(48%)
      flex: 0 0 48%
.ask
  h5
    font-size: 18px
    margin-bottom: 15px
  p,a
    font-size: 18px
  &-block
    padding: 25px 20px
.cart
  &-container
    padding: 20px 10px
  &-cont
    align-items: center
    justify-content: flex-start
    padding: 20px 0
    &>div,&>button
      margin-left: 30px
    &:nth-child(2)
      margin-bottom: 15px
  &-color
    span
      font-size: 18px
    button
      font-size: 12px
  &-photo
    border: 1px solid #dadada
  &-block
    flex: inherit
    display: flex
    align-items: center
    justify-content: space-around
  &-desc
    flex: 0 0 160px
  &-name
    font-size: 18px
  &-price,&-result
    font-size: 18px
    letter-spacing: 1px
  &-page
    .product-request-number
      flex: 0 0 130px
  &-info
    display: flex
    align-items: flex-start
  &-form
    +w(375px)
    margin-right: 20px
    padding: 30px 20px 30px 10px
    input,textarea,div
      +w(100%)
      display: block
      &:nth-child(3),&:nth-child(4),&:nth-child(5)
        +w(250px)
      &:nth-child(6)
        +w(345px)
    div
      display: flex
      align-items: center
      input
        &:first-child
          +w(147px)
          margin-right: 30px
.filter-title
    &-sort
      display: none
.youtube01
  &-close-button
    img
      +wh(30px)
  iframe
    height: 70vh
    margin: auto
.del-form
  &-cont
    padding: 50px 30px 20px
    width: 750px
    margin: auto
  p
    font-size: 14px
    line-height: 1.2em
  .row
    p:first-child
      +w(33%)
      flex: 0 0 33%
    p:nth-child(2)
      +w(33%)
      flex: 0 0 33%
.head-form
  form
    padding: 100px 150px
aside
  top: 70px
  left: inherit
  right: 10px
  border: 1px solid #dfdad5
footer
  .section
    padding-top: 50px
.foot
  &-cont
    display: flex
    align-items: flex-start
    justify-content: space-between
    .phone,.request
      display: flex
  &-logo
    .slogan
      display: none
  &-slogan
    display: block
    color: $pink-gray
  &-mob-cont
    display: none
  &-request
    &-links
      display: flex
    &-foot
      display: flex
      flex-direction: column
    &-button
      display: flex
      margin-top: 10px
  &-phone
    &-mail
      margin-top: 29px
  &-copy
    display: flex
    margin-top: 13px
    a,span
      margin-top: 0
    span
      margin-right: 80px