.section
  +w($tablet#{$unit})
.mob-nav
  display: none
header
  .section
    display: flex
    justify-content: space-between
    align-items: center
.phone
  display: flex
  &-numbers
    display: block
  &-call,&-mail
    display: block
    margin-bottom: 3px
    color: $pink-gray
  &-mail
    color: $light-blue
    margin-bottom: 0
.head
  &-contacts
    flex: 57%
    align-items: center
  &-logo
    align-items: center
  &-must-know,&-about-company
    display: none
  &-nav
    display: block
    background: linear-gradient(to top, #fdefe1, #fdf9f5)
    &-list
      width: 100%
      display: flex
      justify-content: space-around
      align-items: center
      &>li
        flex: 0 0 16.66%
        text-align: center
        ul
          text-align: left
      a,div
        +font(14px,$f_reg,$pink-gray)
        display: block
        padding: 20px 0 15px
        width: 100%
        background: linear-gradient(to top, #fdefe1, #fdf9f5)
        &:hover
          background: linear-gradient(to top, $light-pink 60%, #fdf9f5)
      div
        position: relative
  &-hidden-list:hover .head-about-company,&-hidden-ul:hover .head-must-know
    display: block
  &-must-know,&-about-company
    position: absolute
    top: 54px
    left: 0
    width: 100%
  &-must-know a,&-about-company a
    padding-left: 15px
    background: linear-gradient(to top, $light-pink 60%, #fdf9f5)
.request
  &-links
    justify-content: space-between
    width: 100%
    padding-right: 20px
    a
      +wh(30px)

.main
  &-slide
    height: 480px
    &-text
      text-align: center
      span
        font-size: 24px
        line-height: 1.4em
    &-button
      width: 260px
      margin: 25px auto 70px
  &-form
    display: flex
    justify-content: space-between
    &-input,button
      margin: 0
      width: 200px
    button
      width: 250px

.popular
  &-label
    padding: 24px 37px 19px
    font-size: 12px
    letter-spacing: 2px
.block
  &-title
    h3
      font-size: 36px
  &-image
    width: 300px
.stocks
  &-cont
    display: flex
    justify-content: space-evenly
  &-block
    margin: 0 0 10px
.questions
  h3
    width: 100%
  &-form
    &-cont
      padding: 10px 20px 0
.photo
  &-slider
    width: 640px
    margin: 20px auto 0
  &-slide
    margin: 0 10px
.deliv
  display: block
  &-cont
    display: flex
    align-items: flex-start
    justify-content: space-around
    flex-wrap: wrap
    text-align: center
  &-img
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50%
    background-color: $light-pink
  &-block
    width: 45%
    flex: 0 0 45%
    h6
      +font(16px,$f_reg,$pink-gray)
      margin-bottom: 10px
    span
      +font(18px,$f_reg,$pink-gray)
    div
      +wh(200px)
      margin: 0 auto 10px
      img
        +wh(100px)
  &-last
    display: flex
    align-items: center
    justify-content: space-around
    &>div
      display: flex
      align-items: center
      justify-content: flex-start
      margin-right: 10px
      margin-top: 30px
    span
      +font(16px,$f_bold,$pink-gray)
  &-img
    +wh(70px)
    padding: 15px
    margin-right: 10px
.reviews
  &-cont
    display: flex
    align-items: self-start
    justify-content: space-evenly
    width: 660px
  &-block
    width: 300px
    flex: 0 0 300px
.news
  .block-title
    justify-content: space-between
    .block-image
      img:last-child
        display: none
  display: block
  &-block
    position: relative
    padding: 0 20px
    &>div
      margin-bottom: 20px
      &>span
        +font(12px,$f_reg,$pink-gray)
        display: block
        margin-bottom: 30px
  &-text
    +font(18px,$f_reg,$pink-gray)
footer
  .section
    padding-top: 50px
.foot
  &-cont
    display: flex
    align-items: flex-start
    justify-content: space-between
    .phone,.request
      display: flex
  &-logo
    .slogan
      display: none
  &-slogan
    display: block
    color: $pink-gray
  &-mob-cont
    display: none
  &-request
    &-links
      display: flex
    &-foot
      display: flex
      flex-direction: column
    &-button
      display: flex
      margin-top: 10px
  &-phone
    &-mail
      margin-top: 29px
  &-copy
    display: flex
    margin-top: 13px
    a,span
      margin-top: 0
    span
      margin-right: 80px