.section
  +w($tablet-large#{$unit})
.logo
  img
    width: 260px
.slogan
  font-size: 15px
.cart
  &-button
    +wh(97px,88px)
    padding: 27px 30px
  &-log
    bottom: 15px
    right: 15px
.head
  &-container
    padding: 25px 25px 13px
  &-logo
    margin-right: 0
    padding: 0
  &-contacts
    padding-right: 13px
    flex: 0 0 53%
    .phone
      &-mail
        margin-top: 15px
      &-numbers
        display: flex
        flex-direction: column
        align-items: center
.request
  &-links
    display: flex
  &-button
    margin-top: 10px

.main
  &-form
    &-input,button
      width: 300px
.deliv
  &-last
    +w(100%)
.delievery
  .deliv-block
    +w(580px)
    flex: 0 0 580px
    h6
      font-family: $f_bold
  .deliv-last
    +w(400px)
    flex-wrap: wrap
    justify-content: flex-start
    &>div
      margin: 25px 0 0
  .product-color-line
    width: 900px
.popular
  &-label
    &-sell
      margin-left: 29px
    &-rent
      margin-left: 20px
  &-sell,&-rent
    &-cont
      flex-direction: row
      justify-content: space-around
  &-cont
    margin: 0 0 20px 0
  .block-image
    display: flex
    position: absolute
    z-index: -1
    left: 220px
  &-container
    display: flex
    align-items: flex-start
.block
  &-image
    width: 600px
    img
      width: 33%
  &-title
    position: relative
    &-a
      font-size: 16px
      display: flex
      align-items: center
      margin-left: auto
      img
        +wh(17px,20px)
    &-none
      .block-image
        display: block
        width: 500px
        margin-top: 13px
.stocks
  &-block
    +wh(450px,300px)
  &-pink-bgc
    +wh(600px,400px)
    top: 175px
  &-text
    width: 440px
    font-size: 22px
    bottom: 0
    &-right
      font-size: 100px
.photo
  &-slider
    width: 960px
.reviews
  &-cont
    width: 100%
  &-block
    width: 47%
    flex: 0 0 47%
    padding: 20px
  &-name
    &-left
      span
        font-size: 16px
        &:last-child
          font-size: 12px
  &-text
    font-size: 20px
  &-photo
    display: flex
    align-items: flex-start
    justify-content: space-between
    div
      flex: 0 0 48%
      width: 48%
.news
  margin-bottom: 30px
  &-cont
    display: flex
    align-items: flex-start
    justify-content: space-around
  &-block
    width: 30%
    flex: 0 0 30%
    border: 1px solid $light-pink
    padding: 20px
    &>div
      height: 250px
      overflow: hidden
      margin-bottom: 10px
  &-gradient
    +wh(100%,100px)
    background: linear-gradient(to top, #fff 50%, transparent)
    position: absolute
    bottom: 0
    left: 0
  &-link
    position: relative
.filter
  &-title
    &-filter
      display: none
  &-label
    &>div
      &:last-child
        right: -8px
        span
          &:last-child
            display: block
            margin-left: 3px
        button
          width: 160px
aside
  display: block
  position: inherit
  top: inherit
  right: inherit
  left: inherit
  margin: 30px 0 0
  flex: 0 0 265px
footer
  .section
    padding: 50px 25px 25px
.foot
  &-logo
    margin-right: 31px
    .logo
      margin-right: 0
  &-cont
    justify-content: flex-start
    .phone
      margin-right: 40px
  &-slogan
    margin-right: 90px