footer
    .row
        .section
            .foot-cont
                .foot-logo.head-logo
                    .logo
                        a(href='#')
                            +img('logo.svg')
                    .slogan Официальный магазин #[br] детских колясок
                .foot-slogan
                    span Прокат и сервис #[br] детских колясок #[br] в Москве и МО
                .phone
                    a(href='tel:84957898899').phone-button
                        +img('phone.svg')
                    .phone-numbers
                        a(href='tel:84957898899').phone-call +7 (495) 789 - 88 - 99
                        a(href='tel:89032422225').phone-call +7 (903) 24 - 222 - 25
                        a(href='mailto:info@2babies.ru').phone-mail.foot-phone-mail info@2babies.ru
                .request-foot
                    .foot-request-links
                        a(href='#').request-soc
                            +img('whatsapp.svg')
                        a(href='#').request-soc
                            +img('instagram.svg')
                        a(href='#').request-soc
                            +img('facebook.svg')
                    a(href='#').request-button.foot-request-button
                        +img('technical-support.svg')
                        span Заказать #[br] звонок
                .foot-mob-cont
                    a(href='tel:84957898899').phone-button
                        +img('phone.svg')
                    a(href='mailto:info@2babies.ru').mob-foot-mail
                        +img('congratulations.svg')
                    a(href='#').request-soc
                        +img('whatsapp.svg')
                    a(href='#').request-soc
                        +img('instagram.svg')
                    a(href='#').request-soc
                        +img('facebook.svg')
            .foot-copy
                span @Copyright 2013 - 2019.
                a(href='#') Политика конфиденциальности
    - if(fancy || slick)
        +inc('js','js/jquery-3.3.1.min.js')
    - if(fancy)
        +inc('js','js/jquery.fancybox.min.js')
    - if(slick)
        +inc('js','slick.js')
    - if(greensock)
        +inc('js','js/greensock.js')
    +inc('js','js/main.js',true)