header
    .section.head-container
        .head-logo
            .logo
                a(href='#')
                    +img('logo.svg')
            .slogan Официальный магазин #[br] детских колясок
        .head-contacts
            .mob-nav
                .mob-nav-button#mob-nav-button
                    +img('menu.svg')
                .mob-nav-list.mob-menu
                    div
                        button.mob-nav-close#mob-nav-close
                            +img('cancel.svg')
                    div
                        a(href='#') Главная
                    div
                        a(href='#') Каталог
                    div
                        a(href='#') Прокат
                    div
                        button.mob-hidden-button#mob-must-know-go Полезно знать
                            span
                    div
                        button.mob-hidden-button#mob-about-company-go О компании
                            span
                    div
                        a(href='#') Контакты
                .mob-must-know.mob-nav-list#mob-must-know
                    div
                        button.mob-hidden-close.mob-nav-close#mob-must-know-back
                            span
                                +img('left-arrow.svg')
                                span Назад
                            +img('cancel.svg')
                    div
                        a(href='#') О тест-драйве
                    div
                        a(href='#') О прокате
                .mob-about-company.mob-nav-list#mob-about-company
                    div
                        button.mob-hidden-close.mob-nav-close#mob-about-company-back
                            span
                                +img('left-arrow.svg')
                                span Назад
                            +img('cancel.svg')
                    div
                        a(href='#') Доставка и оплата
                    div
                        a(href='#') Отзывы
                    div
                        a(href='#') Новости
                    div
                        a(href='#') Статьи
                    div
                        a(href='#') Вопрос - Ответ
            .phone
                a(href='tel:84957898899').phone-button
                    +img('phone.svg')
                .phone-numbers
                    a(href='tel:84957898899').phone-call +7 (495) 789 - 88 - 99
                    a(href='tel:89032422225').phone-call +7 (903) 24 - 222 - 25
                    a(href='mailto:info@2babies.ru').phone-mail info@2babies.ru
            .request
                .request-links.head-request-links
                    a(href='#').request-soc
                        +img('whatsapp.svg')
                    a(href='#').request-soc
                        +img('instagram.svg')
                    a(href='#').request-soc
                        +img('facebook.svg')
                button.request-button.button
                    +img('technical-support.svg')
                    +img('technical-support-blue.svg')
                    span Заказать звонок
            .cart
                a(href='#').cart-button
                    +img('shopping-cart.svg')
                    span.cart-log
                        span 52
    .head-nav
        .section
            ul.head-nav-list
                li
                    a(href='#') Главная
                li
                    a(href='#') Каталог
                li
                    a(href='#') Прокат
                li
                    div.head-hidden-ul Полезно знать
                        ul.head-must-know
                            li
                                a(href='#') О тест-драйве
                            li
                                a(href='#') О прокате
                li
                    div.head-hidden-list О компании
                        ul.head-about-company
                            li
                                a(href='#') Доставка и оплата
                            li
                                a(href='#') Отзывы
                            li
                                a(href='#') Новости
                            li
                                a(href='#') Статьи
                            li
                                a(href='#') Вопрос - Ответ
                li
                    a(href='#') Контакты