header
    .row
        .section
            .header
                .head-logo
                    a(href='#')
                        +img()
                        span
                            span Официальный магазин
                            span детских колясок
                .mob-nav
                    button.mob-nav-button#mob-nav-go
                    ul.mob-nav-list#mob-nav
                        li
                            button.mob-nav-close#mob-nav-close
                        li
                            a(href='#') Главная
                        li
                            a(href='#') Каталог
                        li
                            a(href='#') Прокат
                        li
                            button.mob-hidden-list#mob-must-know-go Полезно знать
                            ul.mob-must-know#mob-must-know
                                li
                                    button.mob-hidden-close#mob-must-know-back Назад
                                li
                                    a(href='#') О тест-драйве
                                li
                                    a(href='#') О прокате
                        li
                            button.mob-hidden-list#mob-about-company-go О компании
                            ul.mob-about-company#mob-about-company
                                li
                                    button.mob-hidden-close#mob-about-company-back Назад
                                li
                                    a(href='#') Доставка и оплата
                                li
                                    a(href='#') Отзывы
                                li
                                    a(href='#') Новости
                                li
                                    a(href='#') Статьи
                                li
                                    a(href='#') Вопрос - Ответ
                        li
                            a(href='#') Контакты
                .phone
                    a(href='tel:84957898899').phone-button
                        +img()
                    .phone-numbers
                        a(href='tel:84957898899').phone-call +7 (495) 789 - 88 - 99
                        a(href='tel:89032422225').phone-call +7 (903) 24 - 222 - 25
                        a(href='mailto:info@2babies.ru').phone-mail info@2babies.ru
                .request
                    .request-links
                        a(href='#').request-soc
                            +img()
                        a(href='#').request-soc
                            +img()
                        a(href='#').request-soc
                            +img()
                    a(href='#').request-button
                .cart
                    button.cart-button#cart-button
                        +img()
                        span.cart-log
                            span 52
    .row
        .section
                .head-nav
                    ul
                        li
                            a(href='#') Главная
                        li
                            a(href='#') Каталог
                        li
                            a(href='#') Прокат
                        li
                            button.mob-hidden-list Полезно знать
                            ul.mob-must-know
                                li
                                    a(href='#') О тест-драйве
                                li
                                    a(href='#') О прокате
                        li
                            button.mob-hidden-list О компании
                            ul.mob-about-company
                                li
                                    a(href='#') Доставка и оплата
                                li
                                    a(href='#') Отзывы
                                li
                                    a(href='#') Новости
                                li
                                    a(href='#') Статьи
                                li
                                    a(href='#') Вопрос - Ответ
                        li
                            a(href='#') Контакты