header
    .section
        .head-logo
            .logo
                a(href='#')
                    +img('logo.svg')
            .slogan Официальный магазин #[br] детских колясок
        .head-contacts
            .mob-nav
                button.mob-nav-button#mob-nav-go
                    +img('menu.svg')
                ul.mob-nav-list.mob-menu#mob-nav
                    li
                        button.mob-nav-close#mob-nav-close
                            +img('cancel.svg')
                    li
                        a(href='#') Главная
                    li
                        a(href='#') Каталог
                    li
                        a(href='#') Прокат
                    li
                        button.mob-hidden-button#mob-must-know-go Полезно знать
                            span
                    li
                        button.mob-hidden-button#mob-about-company-go О компании
                            span
                    li
                        a(href='#') Контакты
                ul.mob-must-know.mob-nav-list#mob-must-know
                    li
                        button.mob-hidden-close.mob-nav-close#mob-must-know-back
                            span
                                +img('left-arrow.svg')
                                span Назад
                            +img('cancel.svg')
                    li
                        a(href='#') О тест-драйве
                    li
                        a(href='#') О прокате
                ul.mob-about-company.mob-nav-list#mob-about-company
                    li
                        button.mob-hidden-close.mob-nav-close#mob-about-company-back
                            span
                                +img('left-arrow.svg')
                                span Назад
                            +img('cancel.svg')
                    li
                        a(href='#') Доставка и оплата
                    li
                        a(href='#') Отзывы
                    li
                        a(href='#') Новости
                    li
                        a(href='#') Статьи
                    li
                        a(href='#') Вопрос - Ответ
            .phone
                a(href='tel:84957898899').phone-button
                    +img('phone.svg')
                .phone-numbers
                    a(href='tel:84957898899').phone-call +7 (495) 789 - 88 - 99
                    a(href='tel:89032422225').phone-call +7 (903) 24 - 222 - 25
                    a(href='mailto:info@2babies.ru').phone-mail info@2babies.ru
            .request
                .request-links
                    a(href='#').request-soc
                        +img('whatsapp.svg')
                    a(href='#').request-soc
                        +img('instagram.svg')
                    a(href='#').request-soc
                        +img('facebook.svg')
                a(href='#').request-button
                    +img('technical-support.svg')
                    span Заказать #[br] звонок
            .cart
                a(href='#').cart-button
                    +img('shopping-cart.svg')
                    span.cart-log
                        span 52
    .head-nav
        .section
            ul.head-nav-list
                li
                    a(href='#') Главная
                li
                    a(href='#') Каталог
                li
                    a(href='#') Прокат
                li
                    button.head-hidden-ul Полезно знать
                    ul.head-must-know
                        li
                            a(href='#') О тест-драйве
                        li
                            a(href='#') О прокате
                li
                    button.head-hidden-list О компании
                    ul.head-about-company
                        li
                            a(href='#') Доставка и оплата
                        li
                            a(href='#') Отзывы
                        li
                            a(href='#') Новости
                        li
                            a(href='#') Статьи
                        li
                            a(href='#') Вопрос - Ответ
                li
                    a(href='#') Контакты