extends template/main
append vars
  -
    page_title= 'О компании'
block content
    main
        .section
            .bread-crumps
                a(href='#') Главная
                div
                    div
                    a(href='#') О компании
        .section
            .about
                .block-title.block-title-none
                    h3 О компании
                    div.block-image
                        +img('title.png')
                        +img('title.png')
                        +img('title.png')
                .about-desc
                    p Дорогие друзья, рады предложить Вам услуги нашего магазина детских колясок для двойни и детей погодок!
                    p У нас Вы сможете купить или заказать детскую коляску для двойни и детей погодок по самой выгодной цене на рынке! Мы окажем Вам всяческую помощь и консультацию по выбору конкретной модели и комплектации, ответим на все возникающие вопросы.
                    p Индивидуальный подход к каждому заказу, огромное разнообразие моделей и комплектаций от самых известных брендов США, Европы и цены порадуют Вас.
                    p Так же, мы предлагаем попробовать абсолютно новую услугу, которую Вам не предложит ни один магазин: "Тест-драйв"!
                    p #[strong "Тест-драйв" детской коляски:]
                    p Вы можете взять детскую коляску на тест-драйв, на 3 дня, после чего принять решение о покупке! (стоимость тест-драйва входит в стоимость новой коляски при покупке, если же коляска не покупается, то оплачивается только тест-драйв).
                    p Стоимость данной услуги зависит от модели детской коляски и комплектации.
                    p Имеются разные модели, цвета  и комплектации! Технические характеристики не описываем, так как вся информация имеется у нас на сайте в разделах проката и в интернете.
            .sertificates
                .block-title.block-title-none
                    h3 Сертификаты
                    div.block-image
                        +img('title.png')
                        +img('title.png')
                        +img('title.png')
        .reviews
            .section
                .block-title.block-title-none
                    h3 Отзывы
                    div.block-image
                        +img('title.png')
                        +img('title.png')
                        +img('title.png')
                    a(href='#').block-title-a
                        span ВСЕ ОТЗЫВЫ
                        +img('left-arrow.svg')
                .reviews-cont
                    .reviews-block
                        .reviews-name
                            .reviews-name-left
                                span Оксана
                                span 12.10.2019
                            .reviews-name-right
                                +img('star.svg')
                                +img('star.svg')
                                +img('star.svg')
                                +img('star-gray.svg')
                                +img('star-gray.svg')
                        p.reviews-text Хочу выразить огромную благодарность вашему интернет-магазину! Очень внимательное отношение к покупателю! Оперативно ответили на все мои многочисленные вопросы! Быстро выслали товар в другую страну! Все супер!Спасибо за нашу новую коляску!
                        .reviews-photo
                            div
                                +img('rev1.png')
                            div
                                +img('rev2.png')
                    .reviews-block
                        .reviews-name
                            .reviews-name-left
                                span Оксана
                                span 12.10.2019
                            .reviews-name-right
                                +img('star.svg')
                                +img('star.svg')
                                +img('star.svg')
                                +img('star.svg')
                                +img('star-gray.svg')
                        p.reviews-text Хочу выразить огромную благодарность вашему интернет-магазину! Очень внимательное отношение к покупателю! Оперативно ответили на все мои многочисленные вопросы! Быстро выслали товар в другую страну! Все супер!Спасибо за нашу новую коляску! Хочу выразить огромную благодарность вашему интернет-магазину! Очень внимательное отношение к покупателю! Оперативно ответили на все мои многочисленные вопросы! Быстро выслали товар в другую страну! Все супер!Спасибо за нашу новую коляску!
                    .reviews-gradient
