extends template/main
append vars
  -
    page_title= 'Вопрос - Ответ'
block content
    main
        .ask
            .section
                .bread-crumps
                    a(href='#') Главная
                    div
                    a(href='#') О компании
                    div
                    a(href='#') Вопрос - Ответ
                    div
                    a(href='#') Обмен и возврат детских товаров...
                .product-bread-crumps
                    a(href='#')
                        span
                        span Вопрос - Ответ
            .section
                .block-title.block-title-none
                    h3 Обмен и возврат детских товаров производятся в соответствии с Законом о защите прав потребителей.
                .ask-cont
                    .ask-block
                        p Обмен и возврат детских товаров производятся в соответствии с Законом о защите прав потребителей. Вы можете отказаться от товара в момент фактического его получения, а также имеете право вернуть не подошедший Вам товар в течение 7 дней, не считая дня покупки, при условии сохранения товарного вида и целостности упаковки.
                        p 1. Обмен Вам не понравился цвет товара или сам товар, Вы хотите его обменять на другой, имеющийся в наличии. Если обмен возможен вы можете произвести  в пункте самовывоза. Условие - полная сохранность упаковки и документации.
                        p Ваши действия при возврате:
                        p 1. Перейти в форму «Обратной связи» на нашем сайте по ссылке http//www.detimport.ru/request-return/
                        p 2. Выбрать Причину обращения соответствующую Вашему запросу: Обмен, Возврат или Брак
                        p 3. Заполнить все необходимые поля.
                        p 4. Дождаться звонка, либо ответного сообщения по электронной почте нашего сотрудника для подтверждения Вашей заявки.
                        p Обратите внимание!!! Обмен возможен только при сохранении упаковки и документации. Товар должен быть чист, исправен, не б/у и упакован в заводскую упаковку.\
                        p 2. Возврат Вам не понравился или не подошел товар, Вы хотите сделать возврат. Вы можете произвести возврат в пункте самовывоза.Ваши действия при возврате:
                        p 5. Перейти в форму «Обратной связи» на нашем сайте по ссылке "Заявка на возврат"
                        p 6. Выбрать Причину обращения соответствующую Вашему запросу: Обмен, Возврат или Брак
                        p 7. Заполнить все необходимые поля.
                        p 8. Дождаться звонка, либо ответного сообщения по электронной почте нашего сотрудника для подтверждения Вашей заявки.
                        p Обратите внимание!!! Возврат возможен только при сохранении упаковки и документации. Товар должен быть чист, исправен, не б/у и упакован в заводскую упаковку.