extends template/main
append vars
  -
    page_title= 'Статья'
block content
    main
        .section
            .bread-crumps
                a(href='#') Главная
                div
                    div
                    a(href='#') О компании
                div
                    div
                    a(href='#') Статьи
                div
                    div
                    a(href='#') Коляски Joie выделяются среди конкурентов
        .section
            .article
                h1 Коляски Joie выделяются среди конкурентов
                span.article-data 12.10.2019
                .article-desc
                    p Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                    div
                        .article-img
                            +img('article1.jpg')
                            +img('article2.jpg')
                        .article-p
                            p Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            p Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            p Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            p Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                    p Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.