extends template/main
append vars
  -
    page_title= 'Статьи'
block content
    main
        .section
            .bread-crumps
                a(href='#') О компании
                div
                    div
                    a(href='#') Статьи
        .news.news-page
            .section
                .block-title.block-title-none
                    h3 Статьи
                    div.block-image
                        +img('title.png')
                        +img('title.png')
                        +img('title.png')
                .news-cont
                    .news-block
                        div
                            span 12.10.2019
                            p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            .news-gradient
                        a(href='#').news-link
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                    .news-block
                        div
                            span 12.10.2019
                            p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            .news-gradient
                        a(href='#').news-link
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                    .news-block
                        div
                            span 12.10.2019
                            p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            .news-gradient
                        a(href='#').news-link
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                    .news-block
                        div
                            span 12.10.2019
                            p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            .news-gradient
                        a(href='#').news-link
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                    .news-block
                        div
                            span 12.10.2019
                            p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            .news-gradient
                        a(href='#').news-link
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                    .news-block
                        div
                            span 12.10.2019
                            p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            .news-gradient
                        a(href='#').news-link
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                    .news-block
                        div
                            span 12.10.2019
                            p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            .news-gradient
                        a(href='#').news-link
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                    .news-block
                        div
                            span 12.10.2019
                            p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            .news-gradient
                        a(href='#').news-link
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                    .news-block
                        div
                            span 12.10.2019
                            p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            .news-gradient
                        a(href='#').news-link
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                .popular-sort.popular-sort-end
                    ul.popular-sort-pagination
                        li
                            a(href='#')
                                span <
                        li
                            a(href='#')
                                span 1
                        li
                            a(href='#')
                                span 2
                        li.pag-activ
                            a(href='#')
                                span 3
                        li
                            a(href='#')
                                span 4
                        li
                            a(href='#')
                                span 5
                        li
                            a(href='#')
                                span >