extends template/main
append vars
  -
    page_title= 'Вопрос - Ответ'
block content
    main
        .ask
            .section
                .bread-crumps
                    a(href='#') Главная
                    div
                        div
                        a(href='#') О компании
                    div
                        div
                        a(href='#') Вопрос - Ответ
            .section
                .block-title.block-title-none
                    h3 Вопрос - Ответ
                    div.block-image
                        +img('title.png')
                        +img('title.png')
                        +img('title.png')
                .ask-cont
                    .ask-block
                        h5 Коляски Joie выделяются среди конкурентов?
                        a(href='#').block-title-a
                            span Посмотреть ответ
                            +img('left-arrow.svg')
                    .ask-block
                        h5 Обмен и возврат детских товаров производятся в соответствии с Законом о защите прав потребителей
                        a(href='#').block-title-a
                            span Посмотреть ответ
                            +img('left-arrow.svg')
                    .ask-block
                        h5 Коляски Joie выделяются среди конкурентов?
                        a(href='#').block-title-a
                            span Посмотреть ответ
                            +img('left-arrow.svg')
                    .ask-block
                        h5 Обмен и возврат детских товаров производятся в соответствии с Законом о защите прав потребителей
                        a(href='#').block-title-a
                            span Посмотреть ответ
                            +img('left-arrow.svg')
                    .ask-block
                        h5 Коляски Joie выделяются среди конкурентов?
                        a(href='#').block-title-a
                            span Посмотреть ответ
                            +img('left-arrow.svg')
                    .ask-block
                        h5 Обмен и возврат детских товаров производятся в соответствии с Законом о защите прав потребителей
                        a(href='#').block-title-a
                            span Посмотреть ответ
                            +img('left-arrow.svg')
                    .ask-block
                        h5 Коляски Joie выделяются среди конкурентов?
                        a(href='#').block-title-a
                            span Посмотреть ответ
                            +img('left-arrow.svg')
                    .ask-block
                        h5 Обмен и возврат детских товаров производятся в соответствии с Законом о защите прав потребителей
                        a(href='#').block-title-a
                            span Посмотреть ответ
                            +img('left-arrow.svg')
                .popular-sort.popular-sort-end
                    ul.popular-sort-pagination
                        li
                            a(href='#')
                                span <
                        li
                            a(href='#')
                                span 1
                        li
                            a(href='#')
                                span 2
                        li.pag-activ
                            a(href='#')
                                span 3
                        li
                            a(href='#')
                                span 4
                        li
                            a(href='#')
                                span 5
                        li
                            a(href='#')
                                span >