extends template/main
append vars
  -
    page_title= 'Главная страница'
block content
    main
        .main-slider
            .section
                .main-slide
                    span.main-slide-text
                        span Бесплатный тест-драйв колясок
                        span Бесплатная доставка по Москве
                        span Гарантия на все товары
                        span Прокат колясок
                        span Подбор колясок
                    button.main-slide-button.button
                        +img('baby-carriage.svg')
                        span ПОДРОБНЕЕ
        .section
            form.main-form
                input(type='text' placeholder='ВАШЕ ИМЯ').main-form-name
                input(type='tel' placeholder='ВАШ ТЕЛЕФОН').main-form-tel
                button.main-form-button.button
                    +img('technical-support.svg')
                    span УЗНАТЬ ПОДРОБНОСТИ
        .popular
            .section
                input(type='radio' name='pop' style='display:none')#pop-sell.popular-input-sell
                input(type='radio' name='pop' style='display:none')#pop-rent.popular-input-rent
                .popular-select
                    .popular-title
                        h3 Популярное
                    label(for='pop-sell').popular-label-sell
                    label(for='pop-rent').popular-label-rent
                    a(href='#')
                        span ВСЕ ПОПУЛЯРНЫЕ
                        +img('left-arrow.svg')
                ul.popular-sell-cont.popular-cont
                    li
                        .popular-cont
                            +img('popular1.png').popular-foto
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-sell-price
                                span 53 000 ₽
                                button.popular-sell-add
                                    +img('shopping-cart(1).svg')
                    li
                        .popular-cont
                            +img('popular2.png').popular-foto
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-sell-price
                                span 53 000 ₽
                                button.popular-sell-add
                                    +img('shopping-cart(1).svg')
                    li
                        .popular-cont
                            +img('popular3.png').popular-foto
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-sell-price
                                span 53 000 ₽
                                button.popular-sell-add
                                    +img('shopping-cart(1).svg')
                ul.popular-rent-cont.popular-cont
                    li
                        .popular-cont
                            +img('popular1.png').popular-foto
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-sell-price
                                .popular-rent-select
                                    span СРОК АРЕНДЫ
                                    ul.pupular-rent-list
                                        li.popular-rent-active
                                            span 1 неделя
                                            div
                                        li
                                            span 2 недели
                                            div
                                        li
                                            span 3 недели
                                            div
                                    span 53 000 ₽
                                button.popular-rent-add
                                    +img('shopping-cart.svg')
                    li
                        .popular-cont
                            +img('popular2.png').popular-foto
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-sell-price
                                .popular-rent-select
                                    span СРОК АРЕНДЫ
                                    ul.pupular-rent-list
                                        li.popular-rent-active
                                            span 1 неделя
                                            div
                                        li
                                            span 2 недели
                                            div
                                        li
                                            span 3 недели
                                            div
                                    span 53 000 ₽
                                button.popular-rent-add
                                    +img('shopping-cart.svg')
                    li
                        .popular-cont
                            +img('popular3.png').popular-foto
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-sell-price
                                .popular-rent-select
                                    span СРОК АРЕНДЫ
                                    ul.pupular-rent-list
                                        li.popular-rent-active
                                            span 1 неделя
                                            div
                                        li
                                            span 2 недели
                                            div
                                        li
                                            span 3 недели
                                            div
                                    span 53 000 ₽
                                button.popular-rent-add
                                    +img('shopping-cart.svg')
        .stocks
            .section
                .stocks-title
                    h3 Акции
                .stocks-cont
                    .stocks-block
                        .stocks-pink-bgc
                        .stocks-text
                            .stocks-text-left Закажи коляску #[br] на полгода сегодня #[br] и получи месяц #[br] в подарок
                            .stocks-text-right 6+1
                    .stocks-block
                        .stocks-pink-bgc
                        .stocks-text
                            .stocks-text-left Скидка #[br] на поллекцию #[br] BABY JOGGER
                            .stocks-text-right 6+1
        .popular.new-products
            .section
                input(type='radio' name='pop' style='display:none')#new-sell.popular-input-sell
                input(type='radio' name='pop' style='display:none')#new-rent.popular-input-rent
                .popular-select
                    .popular-title
                        h3 Новинки
                    label(for='new-sell').popular-label-sell
                    label(for='new-rent').popular-label-rent
                    a(href='#')
                        span ВСЕ ПОПУЛЯРНЫЕ
                        +img('left-arrow.svg')
                ul.popular-sell-cont.popular-cont
                    li
                        .popular-cont
                            +img('popular1.png').popular-foto
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-sell-price
                                span 53 000 ₽
                                button.popular-sell-add
                                    +img('shopping-cart(1).svg')
                    li
                        .popular-cont
                            +img('popular2.png').popular-foto
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-sell-price
                                span 53 000 ₽
                                button.popular-sell-add
                                    +img('shopping-cart(1).svg')
                    li
                        .popular-cont
                            +img('popular3.png').popular-foto
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-sell-price
                                span 53 000 ₽
                                button.popular-sell-add
                                    +img('shopping-cart(1).svg')
                ul.popular-rent-cont.popular-cont
                    li
                        .popular-cont
                            +img('popular1.png').popular-foto
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-sell-price
                                .popular-rent-select
                                    span СРОК АРЕНДЫ
                                    ul.pupular-rent-list
                                        li.popular-rent-active
                                            span 1 неделя
                                            div
                                        li
                                            span 2 недели
                                            div
                                        li
                                            span 3 недели
                                            div
                                    span 53 000 ₽
                                button.popular-rent-add
                                    +img('shopping-cart.svg')
                    li
                        .popular-cont
                            +img('popular2.png').popular-foto
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-sell-price
                                .popular-rent-select
                                    span СРОК АРЕНДЫ
                                    ul.pupular-rent-list
                                        li.popular-rent-active
                                            span 1 неделя
                                            div
                                        li
                                            span 2 недели
                                            div
                                        li
                                            span 3 недели
                                            div
                                    span 53 000 ₽
                                button.popular-rent-add
                                    +img('shopping-cart.svg')
                    li
                        .popular-cont
                            +img('popular3.png').popular-foto
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-sell-price
                                .popular-rent-select
                                    span СРОК АРЕНДЫ
                                    ul.pupular-rent-list
                                        li.popular-rent-active
                                            span 1 неделя
                                            div
                                        li
                                            span 2 недели
                                            div
                                        li
                                            span 3 недели
                                            div
                                    span 53 000 ₽
                                button.popular-rent-add
                                    +img('shopping-cart.svg')

        .questions
            .section
                form
                    h3 Остались вопросы? #[br] Нужна консультация?
                    input(type='text' placeholder='ВАШЕ ИМЯ').questions-name
                    input(type='tel' placeholder='ВАШ ТЕЛЕФОН').questions-tel
                    button.questions-button.button
                        +img('technical-support.svg')
                        span ОСТАВИТЬ ЗАЯВКУ
        .foto-slider
            .foto-div
            .foto-div
            .foto-slide
                +img('foto1.png')
            .foto-slide
                +img('foto2.png')
            .foto-slide
                +img('foto3.png')
            .foto-slide
                +img('foto4.png')
            .foto-slide
                +img('foto5.png')
        .deliv
            .section
                .deliv-title
                    span Доставка и оплата
                .deliv-cont
                    .deliv-block
                        div.deliv-img
                            +img('gift.svg')
                        h6 ДОСТАВКА КУРЬЕРОМ
                        span Доставим курьером по Москве #[br] и Московской области
                    .deliv-block
                        div.deliv-img
                            +img('delivered.svg')
                        h6 ТРАНСПОРТНАЯ КОМПАНИЯ
                        span Доставка транс компаниями в регионы #[br] РФ. На ваш выбор любая из ТК России. #[br] Оперативная доставка до транспортной #[br] компании нашим транспортом. #[br] Точная отправка в срок.
                    .deliv-last
                        div
                            div
                                +img('credit-card.svg')
                            span ОПЛАТА КАРТОЙ
                        div
                            div
                                +img('credit-card(1).svg')
                            span ОПЛАТА КУРЬЕРУ
                        div
                            div
                                +img('wallet.svg')
                            span НАЛОЖЕННЫЙ ПЛАТЕЖ
        .reviews
            .section
                .reviews-title
                    h3 Отзывы
                    a(href='#')
                        span ВСЕ ОТЗЫВЫ
                        +img('left-arrow.svg')
                .reviews-cont
                    .reviews-block
                        .reviews-name
                            .reviews-name-left
                                span Оксана
                                span 12.10.2019
                            .reviews-name-right
                                div.reviews-star.reviews-start-activ
                                div.reviews-star.reviews-start-activ
                                div.reviews-star.reviews-start-activ
                                div.reviews-star
                                div.reviews-star
                        p.reviews-text Хочу выразить огромную благодарность вашему интернет-магазину! Очень внимательное отношение к покупателю! Оперативно ответили на все мои многочисленные вопросы! Быстро выслали товар в другую страну! Все супер!Спасибо за нашу новую коляску!
                        .reviews-photo
                            div
                                +img('rev1.png')
                            div
                                +img('rev2.png')
                    .reviews-block
                        .reviews-name
                            .reviews-name-left
                                span Оксана
                                span 12.10.2019
                            .reviews-name-right
                                div.reviews-star.reviews-start-activ
                                div.reviews-star.reviews-start-activ
                                div.reviews-star.reviews-start-activ
                                div.reviews-star
                                div.reviews-star
                        p.reviews-text Хочу выразить огромную благодарность вашему интернет-магазину! Очень внимательное отношение к покупателю! Оперативно ответили на все мои многочисленные вопросы! Быстро выслали товар в другую страну! Все супер!Спасибо за нашу новую коляску! Хочу выразить огромную благодарность вашему интернет-магазину! Очень внимательное отношение к покупателю! Оперативно ответили на все мои многочисленные вопросы! Быстро выслали товар в другую страну! Все супер!Спасибо за нашу новую коляску!
                    .review-gradient
        .news
            .section
                .news-title
                    h3 Новости
                    a(href='#')
                        span ВСЕ НОВОСТИ
                        +img('left-arrow.svg')
                .news-cont
                    .news-block
                        span 12.10.2019
                        p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                        a(href='#')
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                    .news-block
                        span 12.10.2019
                        p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                        a(href='#')
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                    .news-block
                        span 12.10.2019
                        p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                        a(href='#')
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                .news-gradient
    include parts/slider