extends template/main
append vars
  -
    page_title= 'Главная страница'
block content
    main
        .main-slider
            .main-slider-cont
                .section
                    .main-slide
                        span.main-slide-text
                            span Бесплатный тест-драйв колясок
                            span Бесплатная доставка по Москве
                            span Гарантия на все товары
                            span Прокат колясок
                            span Подбор колясок
                        button.main-slide-button.button
                            +img('baby-carriage.svg')
                            span ПОДРОБНЕЕ
        .section
            form.main-form
                input(type='text' placeholder='ВАШЕ ИМЯ').main-form-name.main-form-input
                input(type='tel' placeholder='ВАШ ТЕЛЕФОН').main-form-tel.main-form-input
                button.main-form-button.button
                    +img('technical-support.svg')
                    span УЗНАТЬ ПОДРОБНОСТИ
        .popular
            .section
                input(type='radio' name='pop' style='display:none' checked)#pop-sell.popular-input-sell
                input(type='radio' name='pop' style='display:none')#pop-rent.popular-input-rent
                .block-title
                    h3 Популярное
                    div.block-image
                        +img('title.png')
                        +img('title.png')
                        +img('title.png')
                    label(for='pop-sell').popular-label-sell.popular-label ПРОДАЖА КОЛЯСОК
                    label(for='pop-rent').popular-label-rent.popular-label АРЕНДА
                    a(href='#').block-title-a
                        span ВСЕ ПОПУЛЯРНЫЕ
                        +img('left-arrow.svg')
                ul.popular-sell-cont
                    li.popular-cont
                        .popular-photo
                            +img('popular1.png')
                        .popular-desc
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-price
                                span 53 000 ₽
                                button
                                    +img('shopping-cart(1).svg')
                    li.popular-cont
                        .popular-photo
                            +img('popular2.png')
                        .popular-desc
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-price
                                span 53 000 ₽
                                button
                                    +img('shopping-cart(1).svg')
                    li.popular-cont
                        .popular-photo
                            +img('popular3.png')
                        .popular-desc
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-price
                                span 53 000 ₽
                                button
                                    +img('shopping-cart(1).svg')
                ul.popular-rent-cont
                    li.popular-cont
                        .popular-photo
                            +img('popular1.png')
                        .popular-desc
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-price
                                .popular-rent-select
                                    span СРОК АРЕНДЫ
                                    ul.popular-rent-list
                                        li.popular-rent-active
                                            span 1 неделя
                                        li
                                            span 2 недели
                                        li
                                            span 3 недели
                                    span 53 000 ₽
                                button
                                    +img('shopping-cart(1).svg')
                    li.popular-cont
                        .popular-photo
                            +img('popular2.png')
                        .popular-desc
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-price
                                .popular-rent-select
                                    span СРОК АРЕНДЫ
                                    ul.popular-rent-list
                                        li.popular-rent-active
                                            span 1 неделя
                                        li
                                            span 2 недели
                                        li
                                            span 3 недели
                                    span 53 000 ₽
                                button
                                    +img('shopping-cart(1).svg')
                    li.popular-cont
                        .popular-photo
                            +img('popular3.png')
                        .popular-desc
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-price
                                .popular-rent-select
                                    span СРОК АРЕНДЫ
                                    ul.popular-rent-list
                                        li.popular-rent-active
                                            span 1 неделя
                                        li
                                            span 2 недели
                                        li
                                            span 3 недели
                                    span 53 000 ₽
                                button
                                    +img('shopping-cart(1).svg')
        .stocks
            .section
                .block-title
                    h3 Акции
                    div.block-image
                        +img('title.png')
                        +img('title.png')
                        +img('title.png')
                .stocks-cont
                    .stocks-block
                        +img('stocks1.png')
                        .stocks-pink-bgc
                        .stocks-text
                            .stocks-text-left Закажи коляску #[br] на полгода сегодня #[br] и получи месяц #[br] в подарок
                            .stocks-text-right 6+1
                    .stocks-block
                        +img('stocks2.png')
                        .stocks-pink-bgc
                        .stocks-text
                            .stocks-text-left Скидка #[br] на поллекцию #[br] BABY JOGGER
                            .stocks-text-right 30%
        .popular.new-products
            .section
                input(type='radio' name='new' style='display:none' checked)#new-sell.popular-input-sell
                input(type='radio' name='new' style='display:none')#new-rent.popular-input-rent
                .block-title
                    h3 Новинки
                    div.block-image
                        +img('title.png')
                        +img('title.png')
                        +img('title.png')
                    label(for='new-sell').popular-label-sell.popular-label ПРОДАЖА КОЛЯСОК
                    label(for='new-rent').popular-label-rent.popular-label АРЕНДА
                    a(href='#').block-title-a
                        span ВСЕ НОВИНКИ
                        +img('left-arrow.svg')
                ul.popular-sell-cont
                    li.popular-cont
                        .popular-photo
                            +img('popular1.png')
                        .popular-desc
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-price
                                span 53 000 ₽
                                button
                                    +img('shopping-cart(1).svg')
                    li.popular-cont
                        .popular-photo
                            +img('popular2.png')
                        .popular-desc
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-price
                                span 53 000 ₽
                                button
                                    +img('shopping-cart(1).svg')
                    li.popular-cont
                        .popular-photo
                            +img('popular3.png')
                        .popular-desc
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-price
                                span 53 000 ₽
                                button
                                    +img('shopping-cart(1).svg')
                ul.popular-rent-cont
                    li.popular-cont
                        .popular-photo
                            +img('popular1.png')
                        .popular-desc
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-price
                                .popular-rent-select
                                    span СРОК АРЕНДЫ
                                    ul.popular-rent-list
                                        li.popular-rent-active
                                            span 1 неделя
                                        li
                                            span 2 недели
                                        li
                                            span 3 недели
                                    span 53 000 ₽
                                button
                                    +img('shopping-cart(1).svg')
                    li.popular-cont
                        .popular-photo
                            +img('popular2.png')
                        .popular-desc
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-price
                                .popular-rent-select
                                    span СРОК АРЕНДЫ
                                    ul.popular-rent-list
                                        li.popular-rent-active
                                            span 1 неделя
                                        li
                                            span 2 недели
                                        li
                                            span 3 недели
                                    span 53 000 ₽
                                button
                                    +img('shopping-cart(1).svg')
                    li.popular-cont
                        .popular-photo
                            +img('popular3.png')
                        .popular-desc
                            h6.popular-name Baby Jogger #[br] "City Select Lux"
                            .popular-price
                                .popular-rent-select
                                    span СРОК АРЕНДЫ
                                    ul.popular-rent-list
                                        li.popular-rent-active
                                            span 1 неделя
                                        li
                                            span 2 недели
                                        li
                                            span 3 недели
                                    span 53 000 ₽
                                button
                                    +img('shopping-cart(1).svg')
        .questions
            .section
                .questions-form-cont
                    h3 Остались вопросы? Нужна консультация?
                    form.main-form
                        input(type='text' placeholder='ВАШЕ ИМЯ').main-form-name.main-form-input
                        input(type='tel' placeholder='ВАШ ТЕЛЕФОН').main-form-tel.main-form-input
                        button.main-form-button.button
                            +img('technical-support.svg')
                            span ОСТАВИТЬ ЗАЯВКУ
        .photo-slider
            .photo-div.photo-div-left
            .photo-div.photo-div-right
            .photo-slide
                +img('foto1.png')
            .photo-slide
                +img('foto2.png')
            .photo-slide
                +img('foto3.png')
            .photo-slide
                +img('foto4.png')
            .photo-slide
                +img('foto5.png')
        .deliv
            .section
                .block-title
                    h3 Доставка и оплата
                    div.block-image
                        +img('title.png')
                        +img('title.png')
                        +img('title.png')
                .deliv-cont
                    .deliv-block
                        div.deliv-img
                            +img('gift.svg')
                        h6 ДОСТАВКА КУРЬЕРОМ
                        span Доставим курьером по Москве #[br] и Московской области
                    .deliv-block
                        div.deliv-img
                            +img('delivered.svg')
                        h6 ТРАНСПОРТНАЯ КОМПАНИЯ
                        span Доставка транс компаниями в регионы #[br] РФ. На ваш выбор любая из ТК России. #[br] Оперативная доставка до транспортной #[br] компании нашим транспортом. #[br] Точная отправка в срок.
                    .deliv-last
                        div
                            div.deliv-img
                                +img('credit-card.svg')
                            span ОПЛАТА КАРТОЙ
                        div
                            div.deliv-img
                                +img('credit-card(1).svg')
                            span ОПЛАТА КУРЬЕРУ
                        div
                            div.deliv-img
                                +img('wallet.svg')
                            span НАЛОЖЕННЫЙ ПЛАТЕЖ
        .reviews
            .section
                .block-title
                    h3 Отзывы
                    div.block-image
                        +img('title.png')
                        +img('title.png')
                        +img('title.png')
                    a(href='#').block-title-a
                        span ВСЕ ОТЗЫВЫ
                        +img('left-arrow.svg')
                .reviews-cont
                    .reviews-block
                        .reviews-name
                            .reviews-name-left
                                span Оксана
                                span 12.10.2019
                            .reviews-name-right
                                +img('star.svg')
                                +img('star.svg')
                                +img('star.svg')
                                +img('star-gray.svg')
                                +img('star-gray.svg')
                        p.reviews-text Хочу выразить огромную благодарность вашему интернет-магазину! Очень внимательное отношение к покупателю! Оперативно ответили на все мои многочисленные вопросы! Быстро выслали товар в другую страну! Все супер!Спасибо за нашу новую коляску!
                        .reviews-photo
                            div
                                +img('rev1.png')
                            div
                                +img('rev2.png')
                    .reviews-block
                        .reviews-name
                            .reviews-name-left
                                span Оксана
                                span 12.10.2019
                            .reviews-name-right
                                +img('star.svg')
                                +img('star.svg')
                                +img('star.svg')
                                +img('star.svg')
                                +img('star-gray.svg')
                        p.reviews-text Хочу выразить огромную благодарность вашему интернет-магазину! Очень внимательное отношение к покупателю! Оперативно ответили на все мои многочисленные вопросы! Быстро выслали товар в другую страну! Все супер!Спасибо за нашу новую коляску! Хочу выразить огромную благодарность вашему интернет-магазину! Очень внимательное отношение к покупателю! Оперативно ответили на все мои многочисленные вопросы! Быстро выслали товар в другую страну! Все супер!Спасибо за нашу новую коляску!
                    .reviews-gradient
        .news
            .section
                .block-title
                    h3 Новости
                    div.block-image
                        +img('title.png')
                        +img('title.png')
                        +img('title.png')
                    a(href='#').block-title-a
                        span ВСЕ НОВОСТИ
                        +img('left-arrow.svg')
                .news-cont
                    .news-block
                        div
                            span 12.10.2019
                            p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            .news-gradient
                        a(href='#').news-link
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                    .news-block
                        div
                            span 12.10.2019
                            p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            .news-gradient
                        a(href='#').news-link
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')
                    .news-block
                        div
                            span 12.10.2019
                            p.news-text Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов. Коляски Joie выделяются среди конкурентов отличным соотношением цены и качества. Компания выпускает также другие детские товары, соответствующие самым высоким требованиям европейских стандартов.
                            .news-gradient
                        a(href='#').news-link
                            span ПОДРОБНЕЕ
                            +img('left-arrow.svg')