extends template/main
append vars
  -
    page_title= 'Baby Jogger "City Select Lux"'
    slick = true
block content
    main
        input(type='checkbox' style='display:none')#youtube01
        input(type='checkbox' style='display:none')#del-form
        .section
            .bread-crumps
                a(href='#') Главная
                div
                    div
                    a(href='#') Каталог
                div
                    div
                    a(href='#') BABY JOGGER "CITY SELECT LUX"
        .section
            .product
                .product-title
                    h1 Baby Jogger "City Select Lux"
                .product-both
                    .product-slider#main-slider1
                        .product-slider-main
                            - for(let i=1;i<6;i++)
                                - if(i == 1)
                                    .product-slider-main-slide-out.act
                                        .product-slider-main-slide
                                            +img('black.jpg')
                                - else
                                    .product-slider-main-slide-out
                                        .product-slider-main-slide
                                            +img('black.jpg')
                        .product-slider-slave
                            - for(let i=1;i<6;i++)
                                - if(i == 1)
                                    .product-slider-slave-slide-out.act
                                        .product-slider-slave-slide
                                            +img('slide' + 1 + '.jpg')
                                - else
                                    .product-slider-slave-slide-out
                                        .product-slider-slave-slide
                                            +img('slide'+ 1 + '.jpg')
                    .product-slider#main-slider2
                        .product-slider-main
                            - for(let i=1;i<6;i++)
                                - if(i == 1)
                                    .product-slider-main-slide-out.act
                                        .product-slider-main-slide
                                            +img('black.jpg')
                                - else
                                    .product-slider-main-slide-out
                                        .product-slider-main-slide
                                            +img('black.jpg')
                        .product-slider-slave
                            - for(let i=6;i>1;i--)
                                - if(i == 1)
                                    .product-slider-slave-slide-out.act
                                        .product-slider-slave-slide
                                            +img('slide' + 2 + '.jpg')
                                - else
                                    .product-slider-slave-slide-out
                                        .product-slider-slave-slide
                                            +img('slide' + 2 + '.jpg')
                    .product-slider#main-slider3
                        .product-slider-main
                            - for(let i=1;i<6;i++)
                                - if(i == 1)
                                    .product-slider-main-slide-out.act
                                        .product-slider-main-slide
                                            +img('black.jpg')
                                - else
                                    .product-slider-main-slide-out
                                        .product-slider-main-slide
                                            +img('black.jpg')
                        .product-slider-slave
                            - for(let i=1;i<6;i++)
                                - if(i == 1)
                                    .product-slider-slave-slide-out.act
                                        .product-slider-slave-slide
                                            +img('slide' + 3 + '.jpg')
                                - else
                                    .product-slider-slave-slide-out
                                        .product-slider-slave-slide
                                            +img('slide' + 3 + '.jpg')
                    .product-slider#main-slider4
                        .product-slider-main
                            - for(let i=1;i<6;i++)
                                - if(i == 1)
                                    .product-slider-main-slide-out.act
                                        .product-slider-main-slide
                                            +img('black.jpg')
                                - else
                                    .product-slider-main-slide-out
                                        .product-slider-main-slide
                                            +img('black.jpg')
                        .product-slider-slave
                            - for(let i=1;i<6;i++)
                                - if(i == 1)
                                    .product-slider-slave-slide-out.act
                                        .product-slider-slave-slide
                                            +img('slide' + 1 + '.jpg')
                                - else
                                    .product-slider-slave-slide-out
                                        .product-slider-slave-slide
                                            +img('slide' + i + '.jpg')
                    .product-slider#main-slider5
                        .product-slider-main
                            - for(let i=1;i<6;i++)
                                - if(i == 1)
                                    .product-slider-main-slide-out.act
                                        .product-slider-main-slide
                                            +img('black.jpg')
                                - else
                                    .product-slider-main-slide-out
                                        .product-slider-main-slide
                                            +img('black.jpg')
                        .product-slider-slave
                            - for(let i=1;i<6;i++)
                                - if(i == 1)
                                    .product-slider-slave-slide-out.act
                                        .product-slider-slave-slide
                                            +img('slide' + 3 + '.jpg')
                                - else
                                    .product-slider-slave-slide-out
                                        .product-slider-slave-slide
                                            +img('slide' + i + '.jpg')
                    .product-youtube
                        label(for='youtube01')
                            +img('youtube-logo.svg')
                            +img('youtube-black.svg')
                    .product-cont
                        .product-color
                            span
                                span Цвет:
                                span
                                    span#span-1 Черный
                                    span#span-2 Красный
                                    span#span-3 Зеленый
                                    span#span-4 Белый
                                    span#span-5 Синий
                            .product-color-slider
                                .product-color-s
                                    .product-color-slide
                                        button#color-slide1(data-slider='#main-slider1' data-span='#span-1')
                                            +img('black.jpg')
                                    .product-color-slide
                                        button#color-slide2(data-slider='#main-slider2' data-span='#span-2')
                                            +img('black.jpg')
                                    .product-color-slide
                                        button#color-slide3(data-slider='#main-slider3' data-span='#span-3')
                                            +img('black.jpg')
                                    .product-color-slide
                                        button#color-slide4(data-slider='#main-slider4' data-span='#span-4')
                                            +img('black.jpg')
                                    .product-color-slide
                                        button#color-slide5(data-slider='#main-slider5' data-span='#span-5')
                                            +img('black.jpg')
                            .product-color-line
                        .product-delievery
                            div
                                div Есть в наличии
                                p Курьер доставит #[strong завтра]
                            div
                                div
                                    +img('delivered.svg')
                                p
                                    span Доставка до 10 км от МКАД - #[strong бесплатно]
                                    span Свыше 10 км от МКАД - #[label(for='del-form') по тарифам]
                            .product-color-line
                        .product-request
                            .product-request-price
                                span #[strong 53 000] ₽
                            .product-request-number
                                div.product-input-js
                                    input(type='text' value='1')
                                    button.product-more
                                        span
                                    button.product-less
                                        span
                                button.product-request-button.button
                                    +img('shopping-cart(2).svg')
                                    +img('shopping-cart(1).svg')
                                    span ЗАКАЗАТЬ
                                button.product-request-button.button
                                    +img('phone.svg')
                                    +img('phone-white.svg')
                                    span ЗАКАЗАТЬ ПО ТЕЛЕФОНУ
                            .product-color-line
                        .product-rent
                            span Вы можете взять данную модель в аренду
                            a(href='#').block-title-a
                                span Узнать подробности
                                +img('left-arrow.svg')
            .product-description
                input(type='radio' name='product-description' style='display:none' checked)#product-description-comp
                input(type='radio' name='product-description' style='display:none')#product-description-harac
                input(type='radio' name='product-description' style='display:none')#product-description-desc
                input(type='radio' name='product-description' style='display:none')#product-description-acses
                input(type='radio' name='product-description' style='display:none')#product-description-close
                .product-description-label-cont
                    label(for='product-description-comp').product-description-label.product-description-label-01 Комплектация
                    label(for='product-description-harac').product-description-label.product-description-label-02 Характеристики
                    label(for='product-description-desc').product-description-label.product-description-label-03 Описание
                    label(for='product-description-acses').product-description-label.product-description-label-04 Аксессуары
                .product-description-comp.product-description-div
                    label(for='product-description-comp').product-description-label-mob Комплектация
                    label(for='product-description-close').product-description-label-mob-close
                    div
                        p
                            span •
                            span Алюминиевая рама с 4-мя надувными колёсами и корзинкой для покупок.
                        p
                            span •
                            span Сиденье с капюшоном и бампером для ребенка.
                        p
                            span •
                            span Фирменный дождевик.
                        p
                            span •
                            span Фирменный подстаканник.
                .product-description-harac.product-description-div
                    label(for='product-description-harac').product-description-label-mob Характеристики
                    label(for='product-description-close').product-description-label-mob-close
                    div
                        div
                            h6 Размеры и вес коляски
                            p
                                span Размеры в разложенном виде (ДхШхВ)
                                span 90 х 60 х 107 см
                            p
                                span Размеры в сложенном виде (ДхШхВ)
                                span 82 х 60 х 33,5 см
                            p
                                span Вес с сиденьем
                                span 11,9 кг
                        .product-color-line
                        div
                            h6 Сиденье
                            p
                                span Спинка
                                span 4 положения наклона от 95° до 175°
                            p
                                span Высота спинки
                                span 48 см
                            p
                                span Глубина сиденья
                                span от 25 до 42 см
                            p
                                span Ширина сиденья
                                span 32 см
                            p
                                span Длина сиденья
                                span 90 см
                            p
                                span Высота от пола до сиденья
                                span 42 см
                            p
                                span Подножка
                                span есть, регулируемая
                            p
                                span Капюшон
                                span глубокий, с доп. секцией, со смотровым окном
                            p
                                span Бампер
                                span жёсткий, со съемной тканью, отстёгивается с двух сторон
                            p
                                span Материал сиденья
                                span износостойкая приятная ткань, снимается с стирается
                            p
                                span Внутренние ремни
                                span регулируются по высоте, с мягкими накладками
                        .product-color-line
                        div
                            h6 Возраст и вес ребенка
                            p
                                span Минимальный возраст ребенка
                                span 3 месяца
                            p
                                span Максимальный вес ребенка
                                span 15 кг
                        .product-color-line
                        div
                            h6 Шасси коляски
                            p
                                span Шасси коляски
                                span 17 см
                            p
                                span Диаметр задних колес
                                span 25 см
                            p
                                span Ширина колесной базы
                                span 59 см
                            p
                                span Колеса
                                span задние надувные, все резиновые,передние поворотные с возможностью фиксации
                            p
                                span Ручка
                                span телескопическая, с покрытием из экокожи
                            p
                                span Высота от пола до ручки
                                span от 98 до 108 см
                            p
                                span Амортизация
                                span отличная рессорная амортизация на всех колесах
                            p
                                span Корзина для покупок
                                span вместимая, с жестким дном, съемная
                        .product-color-line
                        div
                            h6 Документация
                            p
                                span Инструкция по эксплуатации
                                a(href='#') скачать
                            p
                                span Сертификат официального дилера
                                a(href='#') скачать
                .product-description-desc.product-description-div
                    label(for='product-description-desc').product-description-label-mob Описание
                    label(for='product-description-close').product-description-label-mob-close
                    div
                        p #[strong Baby Jogger "City Select LUX"] позволяет родителям сочетать сидения, люльки и автокресла более чем в 20 различных вариантах, чтобы удовлетворить любые потребности семьи. Это на 25% больше комбинаций, чем у обычного City Select. Сиденья могут быть расположены по направлению к дороге, к маме и лицом к друг другу. Ещё более компактное сложенное состояние, на 30% меньше, чем у простого City Select. Легко сложите сиденье и поднимите стороны, чтобы сложить детскую коляску. Новый компактный размер и автоматический замок облегчают перенос, транспортировку и хранение. Сидение складывается внутрь, поэтому оно остается чистым. Ручной тормоз и стояночный тормоз, находятся в одном месте. Ручной тормоз замедляет все колеса. 12 дюймовые задние колеса, не требующие подкачки и 8 дюймовые легкие передние колеса с возможностью блокировки вращения, амортизация всех колес - всё это обеспечивает повышенный контроль и комфорт. Телескопическая ручка подстроится под родителей любого роста.
                        p Запатентованная система быстрого сложения Quick-Fold, так что вы можете сложить коляску одним движением. Многопозиционная спинка сидения откидывается одним нажатием кнопки. 5-ти точечная система ремней безопасности. Регулируемая подножка. Ткань с защитой от солнца UPF 50+. Капор со смотровым окошком на магнитике. Большая корзина для вещей, вмещающая до 7 кг.
                        p #[strong Baby Jogger City Select Lux] с легкостью превращается в систему для путешествий. Только выберите адаптер подходящий к Вашему автокреслу группы 0+. Прогулочный блок может использоваться с 6 месяцев.
                .product-description-acses.product-description-div
                    label(for='product-description-acses').product-description-label-mob Аксессуары
                    label(for='product-description-close').product-description-label-mob-close
                    div.product-description-acses-container
                        div.product-description-acses-unit
                            .product-description-acses-photo
                                +img('logo.svg')
                                +img('acses-photo.jpg')
                            .product-description-acses-name
                                span муфта-рукавички vikalex snow dreams
                            .product-description-acses-price
                                span 2 500 ₽
                                button
                                    +img('shopping-cart(1).svg')
                                    +img('shopping-cart(2).svg')
                        div.product-description-acses-unit
                            .product-description-acses-photo
                                +img('logo.svg')
                                +img('acses-photo.jpg')
                            .product-description-acses-name
                                span муфта-рукавички vikalex snow dreams
                            .product-description-acses-price
                                span 2 500 ₽
                                button
                                    +img('shopping-cart(1).svg')
                                    +img('shopping-cart(2).svg')
                        div.product-description-acses-unit
                            .product-description-acses-photo
                                +img('logo.svg')
                                +img('acses-photo.jpg')
                            .product-description-acses-name
                                span муфта-рукавички vikalex snow dreams
                            .product-description-acses-price
                                span 2 500 ₽
                                button
                                    +img('shopping-cart(1).svg')
                                    +img('shopping-cart(2).svg')
                        div.product-description-acses-unit
                            .product-description-acses-photo
                                +img('logo.svg')
                                +img('acses-photo.jpg')
                            .product-description-acses-name
                                span муфта-рукавички vikalex snow dreams
                            .product-description-acses-price
                                span 2 500 ₽
                                button
                                    +img('shopping-cart(1).svg')
                                    +img('shopping-cart(2).svg')
            .popular
                .section
                    .block-title
                        h3 Похожие товары
                    ul.popular-sell-cont.display-flex
                        li.popular-cont
                            .popular-photo
                                +img('popular1.jpg')
                            .popular-desc
                                h6.popular-name Baby Jogger #[br] "City Select Lux"
                                .popular-price
                                    span 53 000 ₽
                                    label(for='add-cart').popular-price-label
                                        +img('shopping-cart(1).svg')
                        li.popular-cont
                            .popular-photo
                                +img('popular2.jpg')
                            .popular-desc
                                h6.popular-name Baby Jogger #[br] "City Select Lux"
                                .popular-price
                                    span 53 000 ₽
                                    label(for='add-cart').popular-price-label
                                        +img('shopping-cart(1).svg')
                        li.popular-cont
                            .popular-photo
                                +img('popular3.jpg')
                            .popular-desc
                                h6.popular-name Baby Jogger #[br] "City Select Lux"
                                .popular-price
                                    span 53 000 ₽
                                    label(for='add-cart').popular-price-label
                                        +img('shopping-cart(1).svg')
        .youtube01
            div
                label(for='youtube01').youtube01-close
                div
                    label(for='youtube01').youtube01-close-button
                        +img('cancel.svg')
                    <iframe src="https://www.youtube.com/embed/gK6yeYWkh84" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .del-form
            div
                label(for='del-form').youtube01-close
                div
                    .del-form-cont
                        label(for='del-form').youtube01-close-button
                            +img('cancel.svg')
                        .row.del-form-title
                            p Расстояние
                            p Заказы от 50 000 Р
                            p Заказы от 100 000 Р
                        .product-color-line
                        .row
                            p в пределах МКАД
                            p 500 Р
                            p 0 Р
                        .product-color-line
                        .row
                            p до 5 км от МКАД
                            p 1000 Р
                            p 500 Р
                        .product-color-line
                        .row
                            p от 5 до 10 км от МКАД
                            p 1500 Р
                            p 1000 Р
                        .product-color-line
                        .row
                            p от 10 д 20 км от МКАД
                            p 2000 Р
                            p 1500 Р
                        .product-color-line
                        .del-form-label
                            +img('delivered.svg')
                            p Доставка заказов на более отдаленные расстояния, для которых не указаны расценки, осуществляетсяпо согласованию через транспортные компании